@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Document */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
}

:focus {
  outline: 0;
}
.d-block {
  width: auto;
}

/* ---reset.css--- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


/* Public Version 公版顏色設定 */
:root {
  --PV-font-color: #ffffff;

  /* 文字色-灰 */
  --PV-color: #fe5226;
  --PV-color2: #181818;
  --Brand-color: #FFF035;
  --PV-font:  'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  --btn-font: 'Montserrat', sans-serif;
  --price-font:  sans-serif;
}

/* 文字樣式設定 */

h2 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--PV-font);
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.2rem;
  }
}

/* 區塊大標 */
h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--PV-font);
}

/* 區塊小標 */
h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.4rem;
}

/* 特色標 */
p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/* 價格 */
.price {
  display: block;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  margin: .5rem auto;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
}

.price s {
  font-size: .9rem;
  margin-right: .25rem;
  opacity: .6;
  font-style: italic;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #d7ae3f;
}

.price strong {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 480px) {
  p {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .price {
    font-size: .9rem;
    margin: .25rem auto;
  }

  .price s {
    margin-right: 2px;
    font-size: .7rem;
  }

  .price strong {
    font-size: 1.4rem;
  }

  .price:after {
    padding: 4px 6px 4px 14px;
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 67px;
  }
}

/* 內文 */
.font {
  color: var(--PV-font-color);
}

/* 文字顏色 */
a {
  color: var(--PV-font-color);
  cursor: pointer;
}
a:hover { color: var(--PV-font-color);}
li {
  list-style: none;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.hoversacle {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

li:hover,
.hoversacle:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.hoversacle2 {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hoversacle2:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
 
}

/* 副標樣式 */
.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .ribbon {
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .ribbon {
    font-size: .9rem;
    line-height: 1.1rem;
  }
}
.arrow {
  border: solid #c3a03a;
  border-width: 0 1px 1px 0;}
/*-- 左側選單 --*/
.arrow_box {
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  margin: 0 0 3px 0;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow_box span {
  display: block;
  -webkit-filter: invert(1);
  filter: invert(1);
  padding: 6px;
  opacity: 0.8;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.left_menu {
  width: 130px;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 40px;
}

.left_menu .arrow_box {
  border-radius: 0 5px 5px 0;
}

.left_menu .menu_box {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: 0;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left_menu .menu_box li {
  position: relative;
  margin-bottom: 2px;
}

.left_menu .menu_box a {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.left_menu .menu_box img {
  border-radius: 5px;
  width: 100%;
}

.left_menu .menu_box li {
  position: relative;
  margin-bottom: 2px;
}

.left_menu dt {
  font-size: 120%;
  color: #fff;
  border-bottom: solid 1px #d3d3d3;
  margin: 0 3px;
  padding: 5px 0;
}

.left_menu .menu_box li.act_evt {
  margin-top: 4px;
  padding: 0 2px;
}

.left_menu .menu_box li.act_evt {
  margin-top: 4px;
  padding: 0 2px;
}

.wrapper {
  background:url(../img/body-bg.jpg) top center no-repeat #1c1a25;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  position: relative;
  padding: 50px 0;
}

@media screen and (max-width: 991px) {

section {
  position: relative;
  padding: 32px 0;
}
 .wrapper {
    min-width: 100%;
  }

}

.for_pc {
  display: block !important;
}

.for_m {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .for_pc {
    display: none !important;
  }

  .for_m {
    display: block !important;
  }
}

.container {
  position: relative;
  clear: both;
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container2 {
  position: relative;
  clear: both;
  width: calc(100% - 200px);
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1365px) {
  .container {
    width: calc(100% - 120px);
  }

  .container2 {
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .container2 {
    width: 100%;
    padding: 0 1.5rem;
  }
}



.cont-title {
  width:90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.cont-title a {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont-title a>div {
  display: flex;
  align-items:flex-end;
}



.cont-title img.cont-tit-center {
  width: 80%;
  max-width: 545px
}



@media screen and (max-width: 575px) {
  .cont-title a>div {
    align-items: center;
  }
  .cont-title img.cont-tit-center {
    width: 100%;
  }
}
.sale-box{
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border: 1px solid #ffffff54;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media screen and (max-width: 575px) {
  .sale-box{
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
}
.sale-box>div{
  z-index: 1;
}
 .sale-box::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;backdrop-filter: blur(7px);-webkit-backdrop-filter: blur(7px); background-color: rgba(255, 255, 255, 0.05);  
  background-image: url(../img/bg-dust.png);
  z-index: 0;
  box-shadow:rgba(255, 255, 255, 0.3) 0px 3px 25px 0px inset, rgba(255, 255, 255, 0.2) 0px -5px 20px 0px inset, rgb(255 255 255 / 7%) 0px -10px 10px 0px inset, rgb(255 255 255 / 6%) 0px 2px 1px, rgb(255 255 255 / 9%) 0px 4px 2px, rgb(255 255 255 / 9%) 0px 8px 4px, rgb(255 255 255 / 9%) 0px 16px 8px, rgb(255 255 255 / 9%) 0px 22px 16px
} 


.bn-box{
  border-radius: 1.5rem;
  background: rgb(23,16,8);
  background: linear-gradient(180deg, rgba(23,16,8,1) 0%, rgba(73,49,23,1) 49%, rgba(24,17,7,1) 100%);
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.bn-box>div{
  border-right: 2px solid #d0a362;
}
.bn-box>div:last-child{
  border-right: none
}
@media screen and (max-width: 575px) {
  .bn-box{
    border-radius:.8rem;
}
  .bn-box>div:first-child{
    border-right: none
  }
}
/***/
.theme {
  position: relative;
  overflow: hidden;
}
.theme-sale{

  background: linear-gradient(180deg, rgba(28,26,37,1) 10%,  rgba(73,54,56,1) 100%, rgba(115,86,41,1) 151522%);}
.bg-sale{ display: block; width:100%; height: 100%; position: absolute; top: 0; left: 0; 
  background: url(../img/work/sale-bg.png) top center no-repeat;z-index: 0;
}
.theme-swiper {
  width: 100vw;
  height:auto;
  position: relative;
  overflow: hidden; 

}


.newcomer{
  border-radius: 2rem;
  position: relative;padding: 4px 4px 16px 4px;
}
.newcomer>div{ border-radius: 1.8rem; -webkit-border-radius: 1.8rem; -moz-border-radius: 1.8rem; -ms-border-radius: 1.8rem; -o-border-radius: 1.8rem; overflow: hidden; z-index: 1; position: relative; gap: 0; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px; background: #1c1a25;
}
.newcomer-ribbon{
  display: block;
  width: 502px;
  position: absolute!important;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 5;
}
@media screen and (max-width:992px) {
  .newcomer-ribbon{width: 400px;
    top: -28px;}
}
@media screen and (max-width:767px) {
  .newcomer-ribbon{width: 320px;
    top: -23px;}
}
@media screen and (max-width:480px) {
  .newcomer-ribbon{width: 290px;
    top: -20px;}
}
.newcomer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 2rem;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 16px solid transparent;
  background: linear-gradient(91deg, rgb(227 192 134) 0%,  rgb(255 241 215) 32%,   rgb(181 147 94) 67%,  rgb(227 192 134) 100%);
  pointer-events: none;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
} 
.new-bn-box{
  position: relative;gap:0;background-color: rgba(255, 255, 255, 0.05);
   
    background: linear-gradient(90deg, rgba(49,52,67,1) 18%, rgba(28,26,37,1) 99%);box-shadow: rgba(255, 255, 255, 0.15) -5px -5px 16px 5px inset;
}
  .new-bn-box>div{
    position: relative;  
    
    z-index: 2;
  }
  .new-bn-box::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-dust.png);
    z-index: 0;
  }
  .new-bn-box>div::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: rgb(248,233,200);
    background: linear-gradient(0deg, rgba(248,233,200,1) 46%, rgba(150,116,73,1) 51%);
    z-index: -1;
  }
  .new-bn-box>div:last-child::after{
    display: none;
  }
  @media screen and (max-width:767px) {
    .new-bn-box>div:nth-child(2)::after{
      display: none;
    }
  }
/*Go to top回頂端 button*/
a.my-btn-goTop {
  position: fixed;
  bottom: -50px;
  right: 25px;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff725e;
  background-size: 60%;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0.8;

}

a.my-btn-goTop img {}

/*箭頭顯示時要做的事*/
a.my-btn-goTop.show {
  opacity: 1;
  bottom: 70px
}


/*------------header------------*/
.kv {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 0;
  height: auto;
  background:url(../img/kv/kv-bg.jpg) top center no-repeat #1c1a25;
  background-size: auto;
  z-index: 2;overflow: hidden;
}

@media screen and (max-width:767px) {
  .kv {
    background:url(../img/kv/kv-bg-m.jpg) top center no-repeat #1c1a25;
    background-size: contain;
  }
}

.kv-container {
  width:1300px;
  padding-top: 100px;
  height: auto;
  position: relative;
  margin: 0 auto;
  
}
@media screen and (max-width:1950px) {
  .kv-container {
    width:1200px;}
}
@media screen and (max-width:1199px) {
  .kv-container {
    width:960px;
    padding-top:90px;
  }
}

@media screen and (max-width:991px) {
  .kv-container {
    width:100%;
  }
}
@media screen and (max-width:767px) {
  .kv-container {
    padding-top:30vw; padding-bottom:0;
    width:100%;
  }
}
.kv-title {
  display: flex;
  position: relative;
  z-index: 3;
  margin:0;
  width: 50%;
  height: auto;
}

.kv-shine{
  display: block;
  position: absolute;
  z-index:-1;
  top: -110px;
  left: -89px;
  width: 800px;
  height: auto;
  display: block;
}
.kv-product{
  position: relative;
  margin-top: 30px;
  width: 74%;
  z-index: 5;
}
.kv-woman{
  width: 32%;
  height: auto;
  position: absolute;
  top: 77px;
  left: 49%;
  z-index: 4

}
.kv-date{
  position: absolute;
  width: 150px;
  height: 150px;
  top:70px;
  left:520px;
  z-index: 4;
}
@media screen and (max-width:1199px) {
  .kv-date{
    width: 130px;
    height: 130px;
    top:90px;
    left:420px;
  }
}
@media screen and (max-width:991px) {
  .kv-title {
    margin:0 10% ;
    width:60%;
  }
  .kv-product{
    width: 90%;
    margin: 0 auto;
    padding-top: 5vw;
  }
  .kv-woman{
    width:35%;
    height:auto;
    position: absolute;
    top: 131px;
    left: 65%;
    z-index: 4;
  }
  .kv-date{
    width: 140px;
    height: 140px;
    top: 48vw;
    left:10vw
  }
}
@media screen and (max-width:767px) {
  .kv-title {
    margin:0 auto;
    width:90%;
  }
  .kv-shine{
    top: 52vw;
    left:-8vw;
    width: 105vw;
  }
  .kv-product{
    width: 130%;
    margin: 0 0 0 -15%;padding-top: 34vw;
  }
  .kv-woman{
    width:45%;
    height: 78vw;
    overflow: hidden;
    top:84vw;
    left: 55%;
    z-index: 4
  
  }
  .kv-date{
    width: 30vw;
    height:30vw;
    top: 88vw;
    left:10vw
  }
}
/***/

.app_menu {
  display: none;
  width: 100%;
  color: #fff;
  margin: 0;
  background: #063786;
  filter: none;
  position: fixed;
  bottom: 0px;
  top: inherit;
  z-index: 99;
  -webkit-filter: none;
  box-shadow: 0 -2px 8px #46454550
}

@media only screen and (max-width: 992px) {
  .app_menu {
    display: none;
  }
}
.app_menu .sumainSlider_app .subList{background: var(--PV-color2);}
.app_menu .appMenu_title{
  background: var(--PV-color2);
}

.app_menu .main li {
  padding: 0;
  border-right: 1px solid rgba(255,255,255,0.45);
}
.app_menu .main li:nth-child(3),.app_menu .main li:nth-child(4){
  display: none!important;
}
.app_menu .main li:nth-child(2) {
  border-right: none;
}
.app_menu .subBox_app .subList {
  margin: 0;
  padding: 15px 5px 30px;
  background: var(--PV-color2);
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 1199px) {
  .header {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    background: #e54040;
  }

  .header {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    background: #e54040;
  }

  .header img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .header .pc {
    display: none !important;
  }

  .header .mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.right_menu {
  left: auto;
  right: 0;
  display: flex;
  align-items: flex-end;
}
.right_menu .arrow_box {right: 0;
}

.nav_btn {

}

.nav_btn span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  border: solid rgba(0, 0, 0, 0.8);
  border-width: 0 2px 2px 0;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.right_menu .menu_box::before{
  content: '';
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: url(../img/work/icon-nav.png) no-repeat;
  background-size: cover;
}
.right_menu.go--act .arrow_box {
}
.right_menu .arrow_box span img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
.right_menu .menu_box {
  margin-right: 5px;padding: 5px 20px;background: rgb(0 0 0 / 70%);
}
.right_menu .menu_box li {
  margin: 0;
  border-bottom: 1px solid #ffd89a59;
}
.right_menu .menu_box li:last-child{
  border-bottom:none
}
.right_menu .menu_box a {
  font-size: 15px;
  padding: 16px 0;    color: #d7a942;
}
.right_menu .menu_box a:hover {
  color:var(--PV-color2)!important;
  background-color: transparent!important;
  -webkit-transition: 0.2s;
  transition: 0.2s; color: #d7a942!important;opacity: .8;
}

@media screen and (max-width:1600px) {
  .right_menu {
  }

  .right_menu .menu_box li {
  }

  .left_menu .menu_box,
  .right_menu .menu_box {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .right_menu .menu_box a {
  }
}

@media only screen and (max-width: 1366px) {

  .left_menu .menu_box,
  .right_menu .menu_box {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@media only screen and (max-width: 1366px) {
  .left_menu .menu_box,
  .right_menu .menu_box {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1199px) {
  .right_menu {
    top: 100px;
    left: auto;
    right: 10px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-overflow-style: none;
    box-shadow: 0 2px 8px #46454550
  }

  .right_menu::-webkit-scrollbar {
    display: none;
  }
  .right_menu .menu_box::before{display: none;}
}

@media only screen and (max-width:1199px) {
  .right_menu {
    width: 100%;
    background-color: var(--PV-color2);
    z-index: 30;
    position: fixed;
    top: 39px;
    height: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    right: 0;
  }

  .arrow_box {
    display: none;
  }

  .right_menu .menu_box {
    position:relative;
    display: flex;
    top: 0;
    left: 0;
justify-content: center;
    width: 100%;
    min-height: 40px;
    background-color: var(--PV-color2);
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    padding: 0;
  }

  .right_menu .menu_box li {
    width: auto;
    border-left: 0;
    margin: 0;
    padding: 0;
  }

  .right_menu .menu_box li a {
    position: relative;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
  }

  .right_menu .menu_box li a:before {
    content: "";
    position: absolute;
    bottom: 18%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: #ccc;
  }
  .right_menu .menu_box a:hover {
    color: #fff!important;
    background-color: transparent!important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
}

@media only screen and (max-width: 767px) {
  .nav_btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .right_menu .menu_box{
    justify-content: flex-start;
  }
}

.left_menu .menu_box li.gotop:before,
.right_menu .menu_box li.gotop:before {
  display: none;
}

.left_menu {
  width: 106px;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 60px;
  margin-left: 0;
}

.left_menu .arrow_box {
  position: absolute;
  top: 400px;
  left: 106px;
  background: rgba(7, 55, 134, 0.94);
  width: 28px;
  height: 92px;
  margin: 0 0 3px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 16px 16px 0;
  -webkit-border-radius: 0 16px 16px 0;
  -moz-border-radius: 0 16px 16px 0;
  -ms-border-radius: 0 16px 16px 0;
  -o-border-radius: 0 16px 16px 0;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.left_menu.go--act .arrow_box {
  left: 0;
}

.arrow_box span {
  display: block;
  -webkit-filter: none;
  filter: none;
  padding: 6px;
  opacity: 1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.left_menu .arrow_box span {
  display: block;
  padding: 6px;
}

.left_menu .arrow_box span img {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 65px;
  opacity: 0.8;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.left_menu.go--act .arrow_box span {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.left_menu .arrow_box span img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.left_menu.go--act .arrow_box span img {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.left_menu .arrow_box span::before {
  content: ' CLOSE ';
  display: block;
  width: 40px;
line-height: 16px;
text-align: center;
  position: absolute;
  font-size: 10px;
  letter-spacing: 1px;
  top: 31px;
  left: -7px;
  color: #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.left_menu.go--act .arrow_box span::before {
  content: ' MENU ';
  display: block;
  position: absolute;
  font-size: 10px;
  letter-spacing: 1px;
  top: 31px;
  left: -7px;
  color: #fff
}

.left_menu .menu_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: rgb(6 55 134 / 84%);
  width: 100%;
  height: auto;
  min-height: 520px;
  padding: 4px 5px 16px 5px;
  font-size: 15px;
  border: 0;
  border-radius: 0px 48px 24px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  margin-left: 0;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.left_menu .menu_box li {
  position: relative;
  margin-bottom: 2px;
}

.left_menu .menu_box a {
  display: block;
  font-size: .8rem;
  line-height: 1.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.left_menu .menu_box a:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.left_menu .menu_box li:first-child a {
  overflow: hidden;
  width: 90%;
  margin: 5px auto 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.left_menu .menu_box img {
  border-radius: 5px;
}

.left_menu dt {
  font-size: 90%;
  line-height: 1.2rem;
  font-weight: 500;
  color: #fff;
  border-bottom: solid 1px #d3d3d3;
  margin: 0 3px;
  padding: 5px 0;
}

.left_menu .menu_box li.act_evt {
  margin-top: 4px;
  padding: 0 2px;
}

.left_menu .menu_box li.act_home {
  margin-top: 4px;
  padding: 0 2px;
}

.left_menu .menu_box li.act_home a {
  font-size: 90%;
  color: #fff;
  background-color: transparent;
  font-weight: 500;
}

@media only screen and (max-width: 1366px) {

  .left_menu .arrow_box {
    left: 0;
  }

  .left_menu.go--act .arrow_box {
    left: 106px;
  }

  .left_menu .menu_box {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  .arrow_box span {
    -webkit-transform: rotate(180deg);
    transform: rotate(0deg);
  }
  .left_menu .arrow_box span img {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  .left_menu.go--act .arrow_box span img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
  .left_menu .arrow_box span::before {
    content: ' MENU ';
  }

  .left_menu.go--act .arrow_box span::before {
    content: ' CLOSE ';
  }


}


.kvSwiper-box {
  width: 570px;
  height:940px;
  position: absolute;
  overflow: hidden;
  right: -150px;
  top: -90px;
  padding: 0;
  z-index: 2;
background:url(../img/kv/kv-salebg.png) top center no-repeat;
background-size: contain;
}


@media screen and (max-width:1199px) {
  .kvSwiper-box {
    width: 38vw;
    height: 70vw;
    position: absolute;
    overflow: hidden;
    right: -9vw;
    top: -4vw;
    padding: 0;
    z-index: 2;
    background: url(../img/kv/kv-salebg.png) top center no-repeat;
    background-size: contain;
}
}
@media screen and (max-width:992px) {
  .kvSwiper-box {display: none;}
}



.kvSwiper  {
  position: absolute;
  top: 92px;
  left: 28%;
  width: 39%;
  height: 700px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


@media screen and (max-width:1199px) {
  .kvSwiper  {
    top: 130px;
    left: 29%;
    width: 37%;
    height: 41vw;
  }
}
@media screen and (max-width:767px) {
}

.kvSwiper .swiper-slide {
  
  padding: 0; margin: 0;height:225px;width: 225px;
}
.kvSwiper .swiper-wrapper{
}
@media screen and (max-width:1199px) {
  .kvSwiper .swiper-slide {
  
    padding: 0; margin: 0;height:auto;width: 100%;
  }
}
@media screen and (max-width:767px) {
}
  .kvSwiper .swiper-slide a {
  position: relative;
  display: block;
 ;height:100%;width:100%;
}
.kvSwiper .swiper-slide a img{
  width: 100%;
  height: auto;
}
.kvSwiper .swiper-slide a:hover{ filter:contrast(1.2); -webkit-filter:contrast(1.2); }
@media screen and (max-width:1199px) {
  .kvSwiper .swiper-slide a {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width:767px) {
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* -------- section slider 第二個輪播-------- */

.mySwiper2{
  width: 100%;
  height:830px;
  margin: 0 auto;
  background: url(../img/work/dr_bg.png) top center no-repeat;background-position-y: 70px;

}
@media screen and (max-width:1199px) {
  .mySwiper2{
    height:730px;
    }
}
@media screen and (max-width:767px) {
  .mySwiper2{
    height:600px;background-position-y: 70px;
    background-size: 1500px;}
}
.mySwiper2::before{
  content: '';
  display: block;
  width: 460px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/work/dr_bg_door.png) top center no-repeat;
  background-size:contain;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media screen and (max-width:1199px) {
  .mySwiper2::before{width: 400px; top: 20px;}
}
@media screen and (max-width:767px) {
  .mySwiper2::before{width: 294px; top: 30px;}
}
.mySwiper2 .swiper-wrapper {
  align-items: baseline;height:750px;   
}
@media screen and (max-width:1199px) {
  .mySwiper2 .swiper-wrapper {
    height:670px;   
  }
}
@media screen and (max-width:767px) {
  .mySwiper2 .swiper-wrapper {
    height:520px;   
  }
}
.mySwiper2 .swiper-slide{
  width:420px;
}
@media screen and (max-width:1199px) {
  .mySwiper2 .swiper-slide{
    width:380px;
  }
}
@media screen and (max-width:767px) {
  .mySwiper2 .swiper-slide{
    width:280px;
  }
}
.mySwiper2 .swiper-slide-active{ padding:0 0px ;}
@media screen and (max-width:1199px) {

}
.mySwiper2 .swiper-slide a{width: 100%;height: 100%;display: block; padding:0 20px;}
.mySwiper2 .swiper-slide-active a{ padding:0 0px ;}
.mySwiper2 .swiper-slide img{  width:100%;height: auto;}
.mySwiper2 .swiper-pagination-bullet{background: #aa7f4a;
  opacity: 1;}
.mySwiper2 .swiper-pagination-bullet-active{background: #1c1a25;}
section.guide h2 {
  font-size: 3rem;
}
.mySwiper2 .swiper-navbox{
  display: flex;
  position: relative;
    width: 320px;
    margin: 1rem auto 0 auto;
    height: 24px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.mySwiper2 .swiper-pagination {
  position: relative;
 bottom:0 ;  width: auto;
 margin: 0 30px;
}
@media screen and (max-width:1199px) {
  .mySwiper2 .swiper-navbox{
      width: 300px;
      margin: .5rem auto 0 auto;
  }
  .mySwiper2 .swiper-pagination {
   margin: 0 15px;
  }
}
.mySwiper2 .swiper-button-next,.mySwiper2 .swiper-button-prev {
  position: relative;
  background-color: rgba(0,0,0,0.8);
  width: 24px;
  height: 24px;
}
.mySwiper2 .swiper-button-next:after,.mySwiper2.swiper-button-next:after,.mySwiper2 .swiper-button-prev:after {
  font-size: 0.8rem;
  color: #e4ca9e;
}



section.guide h3 {
  font-size: 2.2rem;
}

@media screen and (max-width:375px){

  section.guide h2 {
    color: #FE5226;
    font-size: 2rem;
  }

  section.guide h3 {
    font-size: 1.5rem;
  }

}




ul.pd-list {}

ul.pd-list li {
  display: block;

  margin: 0 20px;
}

ul.pd-list li img {
  width: 200px;
  height: 200px;
}

/* --------keywordB-------- */
.keywordB {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}


.keywordB li {
  position: relative;
  overflow: hidden;

}

.keywordB li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:991px) {
  .keywordB {}
}

@media screen and (max-width:480px) {
  .keywordB {}

  .keywordB li {}
}

.keywordB li a {
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:480px) {
  .keywordB li a {}
}



/*------ 八品區 橫式 -----*/
ul.box-itemlist {
  display: flex;
  flex-wrap: wrap;
  gap: 44px
}

ul.box-itemlist li {
    width: calc(25% - 33px);
    border-radius: 2em;
    padding:2px;
    position: relative;
    z-index: 11;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

ul.box-itemlist li a {
  display: block;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul.box-itemlist li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  border: 2px solid transparent;
  background: linear-gradient(241deg, rgba(117, 85, 11, 1) 0%, rgba(155, 112, 17, 1) 17%, rgba(240, 207, 149, 1) 32%, rgba(120, 80, 29, 1) 37%, rgba(155, 113, 15, 1) 53%, rgba(255, 246, 219, 1) 67%, rgba(155, 113, 15, 1) 82%, rgba(102, 72, 23, 1) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

@media screen and (max-width: 1360px) {
  ul.box-itemlist {
    gap: 32px
  }

  ul.box-itemlist li {
    width: calc(25% - 24px);
  }
}

@media screen and (max-width: 991px) {
  ul.box-itemlist {
    gap: 1rem
  }

  ul.box-itemlist li {
    width: calc(50% - .5rem);
  }

}

@media screen and (max-width: 767px) {
  ul.box-itemlist li a::after {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
}


ul.box-itemlist li i {
  position: relative;
  width: 100%;
  display: flex;
  border-radius:1.9em 1.9em 0 0;
  -webkit-border-radius:1.9em 1.9em 0 0;
  -moz-border-radius:1.9em 1.9em 0 0;
  -ms-border-radius:1.9em 1.9em 0 0;
  -o-border-radius:1.9em 1.9em 0 0;
  overflow: hidden;
  order: 1;
  background: #fff;
}
ul.box-itemlist li i::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
ul.box-itemlist li i img {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


ul.box-itemlist li h4 {
      color: #101114;
  width: 100%;
  padding: 6px 10px;
  margin:0 auto 10px auto;
  background: repeating-linear-gradient(97deg, #62420a -1%, #cfaf6c 50%, #9b7011 101%);
  overflow: hidden;
  order: 1;
}

ul.box-itemlist li p {
  order: 1; color: #101114;
  width: 100%;
  padding: 6px 10px;
  margin:0 auto 10px auto;
  background: repeating-linear-gradient(97deg, #62420a -1%, #cfaf6c 50%, #9b7011 101%);
  overflow: hidden;
  margin: 0;
}

ul.box-itemlist li span {
  order: 1;
  width: 100%;
}
@media screen and (max-width: 480px) {
ul.box-itemlist li span.price s{display: none;}}
/**---ul.box-itemlist2---**/
ul.box-itemlist2 {
  display: flex;
  flex-wrap: wrap;
  gap: 22px
}

ul.box-itemlist2 li {
  width: calc(25% - 33px);
}

ul.box-itemlist2 li {
  width: calc(25% - 16.5px);
  padding: 60px 12px 30px 12px;
}

ul.box-itemlist2 li a {
  display: block;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1360px) {
  ul.box-itemlist2 {
    gap: 16px
  }

  ul.box-itemlist2 li {
    width: calc(25% - 12px);
  }
}

@media screen and (max-width: 991px) {
  ul.box-itemlist2 {
    gap: 1rem;

  }

  ul.box-itemlist2 li {
    width: calc(50% - .5rem);
  }

}

@media screen and (max-width: 767px) {
  ul.box-itemlist2 {
    gap:1rem;
    padding: 0;
  }

  ul.box-itemlist2 li {
    width:calc(50% - .5rem);
    padding: 30px 8px 20px 8px;
  }

}


ul.box-itemlist2 li i {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  order: 1;
}

ul.box-itemlist2 li i img {
  width: 100%;
  height: auto;
}


ul.box-itemlist2 li h4 {
  padding: 6px 10px;
  margin: 16px auto 10px auto;
  overflow: hidden;
  order: 0;
  background: var(--PV-color2);
  color: white;
  border: 0;
}

ul.box-itemlist2 li p {
  text-align: center;
  margin: .5rem auto 0 auto;
  order: 1;
}

ul.box-itemlist2 li span {
  order: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  ul.box-itemlist2 li i {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  ul.box-itemlist2 li span.price s{display: none;}}


/*放影片*/
.ytbox{
  height: 450px;
}  
@media screen and (max-width: 1199px) {
  .ytbox{
    height: 300px;
  }  
}
/*------ 商品往左跑跑 ------*/
.runitem {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  height: 45px;
}

.runitem-img {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: slide 40s linear infinite;
  width: 3600px;
  height: 100%;
  background: url(../img/work/run-txt.png) repeat-x;
  background-size:450px ;
  z-index: 10;
  -webkit-animation: slide 40s linear infinite;
}
@keyframes slide3 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1200px, 0, 0);
    -webkit-transform: translate3d(-1200px, 0, 0);
    -moz-transform: translate3d(-1200px, 0, 0);
    -ms-transform: translate3d(-1200px, 0, 0);
    -o-transform: translate3d(-1200px, 0, 0);
}
}
.runitem-img2 {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  
  width: 3600px;
  height: 144px;
  background: url(../img/work/run-text1.png) repeat-x;
  background-size: 1200px;
  z-index: 0;animation: slide 36s linear infinite;
  -webkit-animation: slide 36s linear infinite;
  margin-bottom: -130px;
}
.runitem-img3 {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
 
  width: 3600px;
  height: 144px;
  background: url(../img/work/run-text2.png) repeat-x;
  background-size: 1200px;
  z-index:0; animation: slide2 36s linear infinite;
  -webkit-animation: slide2 36s linear infinite;
}
@media screen and (max-width: 767px) {
  .runitem-img2 {  width: 1800px;
    height: 72px;background-size: 600px;margin-bottom: -95px;}
    .runitem-img3 {  width: 1800px;
      height: 72px;background-size: 600px;}
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1200px, 0, 0);
    -webkit-transform: translate3d(-1200px, 0, 0);
    -moz-transform: translate3d(-1200px, 0, 0);
    -ms-transform: translate3d(-1200px, 0, 0);
    -o-transform: translate3d(-1200px, 0, 0);
}
}
@keyframes slide2 {
  0% {
    transform: translate3d(-1200px, 0, 0);
    -webkit-transform: translate3d(-1200px, 0, 0);
    -moz-transform: translate3d(-1200px, 0, 0);
    -ms-transform: translate3d(-1200px, 0, 0);
    -o-transform: translate3d(-1200px, 0, 0);
}

  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
}

/*--------降落動態背景--------*/
.bg-falling {
  background-repeat: repeat;
  background-position: center 0
}

@media screen and (min-width:1024px) {
  .bg-falling {
    background-image: url(../img/wave/egg-pc.png);
    background-size: 100%;
    -webkit-animation: background-loopY-pc 40s infinite linear;
    animation: background-loopY-pc 40s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling {
    background-image: url(../img/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling-mqDown-lg {
    background-image: url(../img/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    background-repeat: repeat;
    background-position: center 0;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@-webkit-keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@-webkit-keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}

@keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}


/*-------- 圖片循環跑 --------*/
.loop-slider {
  background: #f4efe9;
  height: 280px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loop-slider .loop-slide-track {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
  display: flex;
  width: calc(350px * 14);
}

.loop-slider .loop-img {
  height: 280px;
  width: 350px;
}

.loop-slider .loop-img img {
  height: 280px;
  width: 350px;
}


@media screen and (max-width: 767px) {
  .loop-slider {
    height: 200px;
  }

  .loop-slider .loop-slide-track {
    -webkit-animation: scroll2 90s linear infinite;
    animation: scroll2 90s linear infinite;
    width: calc(250px * 14);
  }

  .loop-slider .loop-img {
    height: 200px;
    width: 220px;
  }

  .loop-slider .loop-img img {
    height: 200px;
    width: 250px;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-280px * 7));
    transform: translateX(calc(-280px * 7));
  }
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    -moz-transform: translateX(calc(-250px * 7));
    -ms-transform: translateX(calc(-250px * 7));
    -o-transform: translateX(calc(-250px * 7));
  }
}


/* ------------左右上下跑 ------------*/
.slideY-down {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  left: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../img/slide_img01.png) repeat-y 0 0;
  -moz-animation: loop2 80s linear infinite;
  animation: loop2 80s linear infinite;
  -webkit-animation: loop2 80s linear infinite;
}

.slideY-up {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  right: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../img/slide_img02.png) repeat-y 0 0;
  -moz-animation: loop 80s linear infinite;
  animation: loop 80s linear infinite;
  -webkit-animation: loop 80s linear infinite;
}

@keyframes loop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -2000px;
  }
}

@keyframes loop2 {
  0% {
    background-position: 0 -2000px;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 991px) {

  .slide_img01 {
    left: auto;
    right: calc(50% + 300px);
  }

  .slide_img02 {
    left: calc(50% + 300px);
    right: auto;
  }

}






/*******/
.kv-wavelight {
  position: absolute;
  top: 180px;
    pointer-events: none;
    width: 1500px;
    height: 600px;
  background: url(../img/kv/kv-wavelight.png) top center no-repeat;
  background-size: contain;
    background-blend-mode:multiply;
  z-index: 1;
}
.wavelight1{ 
  left: calc(50% - 1600px);}
.wavelight2{
  right: calc(50% - 1400px);
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
@media screen and (max-width: 1199px) {
  .kv-wavelight {
    position: absolute;
    top: 12vw;
      pointer-events: none;
      width: 1200px;
      height: 480px;
  }
  .wavelight1{ 
    left: calc(50% - 1300px);}
  .wavelight2{
    right: calc(50% - 1100px);
  }
}
@media screen and (max-width: 767px) {
  .kv-wavelight {display: none;
  }
  .wavelight1{display: none;}
  .wavelight2{display: none;;
  }
}
.runpic {
  display: flex;
  padding: 4rem 0 2rem 0;
  width: 6300px;
  animation: runpic 50s linear infinite;
  -webkit-animation: runpic 50s linear infinite;
}


@-webkit-keyframes runpic {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-2100px);
    -webkit-transform: translateX(-2100px);
    -moz-transform: translateX(-2100px);
    -ms-transform: translateX(-2100px);
    -o-transform: translateX(-2100px);
}
}

@keyframes runpic {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
   transform: translateX(-2100px);
   -webkit-transform: translateX(-2100px);
   -moz-transform: translateX(-2100px);
   -ms-transform: translateX(-2100px);
   -o-transform: translateX(-2100px);
}
}
@-webkit-keyframes runpic2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1750px);
    -webkit-transform: translateX(-1750px);
    -moz-transform: translateX(-1750px);
    -ms-transform: translateX(-1750px);
    -o-transform: translateX(-1750px);
}
}

@keyframes runpic2 {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
   transform: translateX(-1750px);
   -webkit-transform: translateX(-1750px);
   -moz-transform: translateX(-1750px);
   -ms-transform: translateX(-1750px);
   -o-transform: translateX(-1750px);
}}
@-webkit-keyframes runpic3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1130px);
    -webkit-transform: translateX(-1130px);
    -moz-transform: translateX(-1130px);
    -ms-transform: translateX(-1130px);
    -o-transform: translateX(-1130px);
}
}

@keyframes runpic3 {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
   transform: translateX(-1130px);
   -webkit-transform: translateX(-1130px);
   -moz-transform: translateX(-1130px);
   -ms-transform: translateX(-1130px);
   -o-transform: translateX(-1130px);
}
}
@keyframes waviy {

  0%,
  20%,
  100% {
    transform: translateY(0)
  }

  10% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}


.footer {
  width: 100%;
  text-align: center;
  color: #d0a263;
  letter-spacing: 1px;
  background-color:transparent;
}

.footer p {
  line-height: 1.5rem;
  font-size: .8rem;
  font-weight: 300;
}


/* loading */

.loading_mask {
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1c1a25;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}

.loading_mask.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.loading_mask .loader-12 {
  display: flex;
  width:300px;
  height: auto;
  border: 0;
  border-radius: none;
  display: block;
  position: relative;
  -webkit-animation: none;
  animation: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.loading_mask .loader-12:after {
  display: none;
}

.loader-12 .ld {
  display: inline-block;
}



.loader-12 .ld img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .loading_mask .loader-12 {
    width:260px;
}
}
/* @keyframes loadingC {
  0 {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
} */

#confetti {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.lightSweep {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
  -webkit-filter: brightness(1.8);
  -webkit-mask-size: 300% 200%;
  -webkit-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -webkit-transition: -webkit-mask-position;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-filter: brightness(1.2);
  -moz-mask-size: 300% 200%;
  -moz-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -moz-transition: -webkit-mask-position;
  -moz-animation-timing-function: linear;
  -moz-transform: translate3d(0, 0, 0);
  -o-filter: brightness(1.5);
  -o-mask-size: 300% 200%;
  -o-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -o-transition: -webkit-mask-position;
  -o-animation-timing-function: linear;
  -o-transform: translate3d(0, 0, 0);
  filter: brightness(1.8);
  mask-size: 300% 200%;
  mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  transition: -webkit-mask-position;
  animation-timing-function: linear;
  transform: translate3d(0, 0, 0);
  transition-duration: 4s;
  animation: move 4s ease-out infinite;
  -webkit-animation: move 4s ease-out infinite;
}
.lightSweep2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
  -webkit-filter: brightness(1.8);
  -webkit-mask-size: 300% 200%;
  -webkit-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -webkit-transition: -webkit-mask-position;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-filter: brightness(1.2);
  -moz-mask-size: 300% 200%;
  -moz-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -moz-transition: -webkit-mask-position;
  -moz-animation-timing-function: linear;
  -moz-transform: translate3d(0, 0, 0);
  -o-filter: brightness(1.5);
  -o-mask-size: 300% 200%;
  -o-mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  -o-transition: -webkit-mask-position;
  -o-animation-timing-function: linear;
  -o-transform: translate3d(0, 0, 0);
  filter: brightness(1.8);
  mask-size: 300% 200%;
  mask-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 60%);
  transition: -webkit-mask-position;
  animation-timing-function: linear;
  transform: translate3d(0, 0, 0);
  transition-duration: 4s;
  animation: move2 4s ease-out infinite;
  -webkit-animation: move2 4s ease-out infinite;
}
@keyframes move {
 0% {
    -webkit-mask-position: 150% 0px;
    -moz-mask-position: 150% 0px;
    -o-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }

  50% {
    -webkit-mask-position: 0% 0px;
    -moz-mask-position: 0% 0px;
    -o-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    -moz-mask-position: 0% 0px;
    -o-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}
@keyframes move2 {
  0% {
     -webkit-mask-position: -150% 0px;
     -moz-mask-position: -150% 0px;
     -o-mask-position: -150% 0px;
     mask-position: -150% 0px;
   }
 
   50% {
     -webkit-mask-position: 0% 0px;
     -moz-mask-position: 0% 0px;
     -o-mask-position: 0% 0px;
     mask-position: 0% 0px;
   }
   100% {
     -webkit-mask-position: 0% 0px;
     -moz-mask-position: 0% 0px;
     -o-mask-position: 0% 0px;
     mask-position: 0% 0px;
   }
 }

  .bg-star {
    position: absolute!important;
    top: 320px;
    left: 12%;
    width: 651px;
    height: auto;
    z-index: 1;
    animation: lighting 4s ease-out infinite;
    -webkit-animation: lighting 4s ease-out infinite;mix-blend-mode: plus-lighter;
}
@media screen and (max-width:991px) {
  .bg-star {
    top: 30vw;
    left: 10%;
    width: 80%;
}
}
@media screen and (max-width:767px) {
  .bg-star {
    top: 95vw;
    left: 0;
    width: 100%;
}
}
@keyframes lighting{
  0% {
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    opacity: .7;
}
 
   30% {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    opacity:1;
}
   100% {
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    opacity: .7;
}
 }

 .fuwafuwa {
  animation: fuwafuwa 6s linear infinite forwards;
  -webkit-animation: fuwafuwa 6s linear infinite forwards;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 6px) ;
    -webkit-transform: translate(0, 6px) ;
    -moz-transform: translate(0, 6px) ;
    -ms-transform: translate(0, 6px) ;
    -o-transform: translate(0, 6px) ;
}
  25% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
}
  50% {
    transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -ms-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
}
  75% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
}
  100% {
    transform: translate(0, 6px);
    -webkit-transform: translate(0, 6px);
    -moz-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
}
}