@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lato:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
}

:focus {
  outline: 0;
}


/* ---reset.css--- */
html,body,div,span,applet,object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


/* Public Version 公版顏色設定 */
:root {
  --PV-font: #222222;
  /* 文字色-灰 */
  --PV-color: #02baca;

  --btn-font: "Montserrat", sans-serif;
  --price-font:'Montserrat', sans-serif;
}

/* 文字樣式設定 */
html,
body {
  font-family: Verdana, 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  color: var(--PV-font);
}
@media screen and (max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}
h2 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.2rem;
  }
}
/* 區塊大標 */
h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
}

/* 區塊小標 */
h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.4rem;
}

/* 特色標 */
p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

/* 價格 */
.price {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 30px 10px 10px;
    margin: 12px 10px 15px;
    border: var(--PV-color) 1px solid;

    color:#ff3974;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    white-space: nowrap; font-family:var(--price-font);
}
.price:after {
  content: 'GO';
  position: absolute;
  right: 0;
  top: -19px;
  color: #fff;
  line-height: 65px;
  padding: 6px 3px;
  font-size: 0.8rem;
  padding: 8px 12px 6px 18px;
    font-size: 0.9rem;
    background: linear-gradient(111deg, transparent 22px, #34c2ce 0);
    background-repeat: no-repeat;
}
.price s{margin-right:5px; color: #afafaf;}
.price strong {
  font-size: 150%;
  font-weight: 700;   font-style: italic;
}
@media screen and (max-width: 480px) {
  .price {
    font-size: .9rem;}
    .price s{margin-right:2px;}
  .price strong {
    font-size: 140%;    
}
   .price:after {padding:4px 6px 4px 14px;font-size: 0.6rem;font-weight: 700;line-height: 67px;}
}
/* 內文 */
.font {
  color: var(--PV-font);
}

/* 文字顏色 */
a {
  color: var(--PV-font);
}

li {
    list-style: none;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .hoversacle{transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;}
  li:hover ,.hoversacle:hover{
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}
  /* 副標樣式 */
.ribbon {
  margin: 5px auto 10px auto;
  padding: 12px 10px;
  height: 42px;
  font-family: "font_condensed";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin: 0 auto;
  border-top:1px solid #34c2ce;
  border-bottom:1px solid #34c2ce;
}

@media screen and (max-width: 991px) {
  .ribbon {
    font-size: 1.1rem;
    width: 98%;
    height: 36px;
  }

}

/* PC */
.WRAPPER {
  background: #dff1e5;
  position: relative;
  width: 100%;
  min-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}
section{
  position:relative;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .WRAPPER {
    min-width: 100%;
  }

}

.container {
  position:relative;
  overflow: hidden;
  clear: both;
  width: 100%;
  max-width: 1160px;
  margin:0 auto;
}
.container2 {
  position:relative;
  overflow: hidden;
  clear: both;
  width: 100%;
  max-width: 1600px;
  margin:0 auto
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0 10px;
  }
  .container2 {
    padding: 0 10px;
  }
}
.for_pc {
  display: block!important;
}

.for_m {
  display: none!important;
}
@media screen and (max-width: 991px) {
  .for_pc {
    display: none!important;
  }
  .for_m {
    display: block!important;
  }
}

.cont-title{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.bg1{background-color: #dff1e5;}

/*Go to top回頂端 button*/
a.my-btn-goTop {
  position: fixed;
  bottom: -50px;
  right: 25px;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff725e;
  background-size: 60%;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0.8;

}

a.my-btn-goTop img {
  width: ;
}

/*箭頭顯示時要做的事*/
a.my-btn-goTop.show {
  opacity: 1;
  bottom: 70px
}

 
/*------------header------------*/  
.header {
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    padding: 0;
    height:auto;
    background: url(../images/KV.jpg) top center no-repeat #dff1e5;
    background-size: auto;
    z-index: 2;
  }
  @media screen and (max-width:991px){
    .header {
      background: url(../images/KV.jpg) bottom center no-repeat #dff1e5;
    }
  }
.header-container{
  width: 98%;
  max-width: 1320px;
  min-width: 1260px;
  height: 840px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width:1366px){
  .header-container{height:780px;}
}
@media screen and (max-width:991px){
  .header-container{
    width: 100%;
    min-width: 100%;
    height:auto}
}
.logo-24h{
  position: absolute;
  width: 200px;
    height: auto;
    top: 30px;
    left: -5px;
    z-index: 12;
}
@media screen and (max-width:1366px){
  .logo-24h{
    width: 150px; 
    left: -10px;
  }
}
.kv_titlebg{   
    position: absolute;
    z-index: 3;
    top: -250px;
    left: 0px;
    width: 857px;
    height: 819px;
}
@media screen and (max-width:991px){
  .kv_titlebg{
    top: -50px;
    left: -10vw;
    width: 120vw;
    height: 819px;
  }
  }
  .kv_title{
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 120px;
    width: 438px;
    height: 377px;
  }
  
  @media screen and (max-width:1366px){
    .kv_title{
      top: 50px;
    left: 9vw;
    width: 31%;
    height: 325px;
    }
  }
@media screen and (max-width:991px){
  .kv_title{
    width: 63vw;
    top: 13vw;
    left: 2vw;
  }
}
 
.kv_phy{
  position: absolute;
  z-index: 3;
  top: 406px;
  left: -80px;width:900px;
  height:390px;
}  
@media screen and (max-width:1366px){
  .kv_phy{
    top: 370px;
    left: -80px;width: 839px;
    height: 337px;}
}
@media screen and (max-width:991px){
  .kv_phy{
    position: relative;
    top:auto;
    left: -25vw;
    width: 140vw;
    height: auto;
    margin-top: -10px;
    z-index: 10;
  } 
}

/*燈光*/
.kv-light2{
  position:absolute;
  width: 700px;
  height: 700px;
  top: 4px;
  left: 50px;
  z-index: 10;
  pointer-events: none;
}
.kv-light2 img{
  position: absolute;
  width: 45px;
  height: auto;
  top:8px;
  
}
.kv-light2 img:nth-child(1){left: calc(22.5% - 22px);}
.kv-light2 img:nth-child(2){left: calc(57.5% - 22px);}
.kv-light2 img:nth-child(3){left: calc(92.5% - 22px);}

@media screen and (max-width:1366px){
  .kv-light2{
    width: 700px;
    height: 700px;
    top: 4px;
    left: 50px;
    z-index: 10;
    pointer-events: none;
  }
  .kv-light2 img{
    position: absolute;
    width: 45px;
    height: auto;
    top:8px;}
  .kv-light2 img:nth-child(1){left: calc(20% - 22px);}
  .kv-light2 img:nth-child(2){left: calc(53.5% - 22px);}
  .kv-light2 img:nth-child(3){left: calc(85.5% - 22px);}
}
@media screen and (max-width:991px){
  .kv-light2{
    width: 100%;
    height: 700px;
    top: 4px;
    left:0;
  }
  .kv-light2 img{
    width: 30px;
    height: auto;
    top:8px;}
  .kv-light2 img:nth-child(1){left: calc(15.5% - 15px);}
  .kv-light2 img:nth-child(2){left: calc(50% - 15px);}
  .kv-light2 img:nth-child(3){left: calc(84.5% - 15px);}
}
.kv-light{
    position:absolute;
    width: 700px;
    height: 700px;
    top: 4px;
    left: 50px;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: screen;
    animation: brightness-play 3s infinite;
    -webkit-animation: brightness-play 3s infinite;
}
.kv-light img{
  position: absolute;
  width: 45%;
  height: auto;
  top:10px;
  
}
.kv-light img:nth-child(1){left: 0%;}
.kv-light img:nth-child(2){left:35%;}
.kv-light img:nth-child(3){left:70%;}

@media screen and (max-width:1366px){
  .kv-light{left: 67px;}
  .kv-light img{width: 38%; }
  .kv-light img:nth-child(1){left: -2%;}
  .kv-light img:nth-child(2){left:32%;}
  .kv-light img:nth-child(3){left:64%;}
}
@media screen and (max-width:991px){
  .kv-light{width:100%;
    height: 700px;left:0;}
  .kv-light img{width: 50vw; }
  .kv-light img:nth-child(1){left:-9.7%;}
  .kv-light img:nth-child(2){left:25%;}
  .kv-light img:nth-child(3){left:60%;}
}

@keyframes brightness-play {
  0% {
          -webkit-filter:brightness(80%);
          filter:brightness(80%);
}
  92% {
  filter:brightness(100%);
}
  94% {
          -webkit-filter:brightness(140%);
          filter:brightness(140%);
}
  96% { 

  -webkit-filter:brightness(100%); 
          filter:brightness(100%);
  }
  98% { 

  -webkit-filter:brightness(120%); 
          filter:brightness(120%);
  }
  100% {
          -webkit-filter:brightness(80%);
          filter:brightness(80%);
}
}

/*活動區塊*/
.box-hotsale{
  width: 100%;
  position:absolute;
  padding: 0 0 10px 0;
  left: 0;
  bottom: 0;
  height: auto;
  display: flex;
}
@media screen and (max-width:991px) {
  .box-hotsale{
    position: relative;
    flex-wrap: wrap;
    padding: 6px;}
  .box-hotsale>div{
    padding-left: 0px;
    padding-right: 0px;
}
}

.bg-linear1{
  background-color: #00c6d7;
  border-radius: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  z-index: 10;
  box-shadow: 0px 0px 10px 6px #ffffff inset;
}
.bg-linear1::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(360deg,#7ab4b8,#fff) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  pointer-events: none;
}



/*--------------側欄ＭＥＮＵ----------------*/

.ui-sidepanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: hidden
}

.ui-sidepanel>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.ui-sidepanel .ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#34c2ce;
  height: 2.5rem;
  width: 2.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer
}

.ui-sidepanel .ui-btn .icon {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -180deg;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

@media (min-width:1200px) {
  .ui-sidepanel .ui-btn .icon {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-rotate: 0deg;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms
  }
}

.ui-sidepanel .menu-box {
  background-color: #004c589c;
  height: auto;
  width: 7rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem
}

.ui-sidepanel .menu-box>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.ui-sidepanel .menu-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms;
  transform: translateX(105%)
}

@media (min-width:1200px) {
  .ui-sidepanel .menu-box {
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms;
      transform: translateX(0)
  }
}

.ui-sidepanel .menu-box .menu-title {
  margin: auto
}

.ui-sidepanel .menu-box .menu-list>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse))
}

.ui-sidepanel .menu-box .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

.ui-sidepanel .menu-box .menu-list li a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  border-color: var(--eventYellow900);
  border-style: solid;
  border-bottom-width: 1px
}

.ui-sidepanel .menu-box .menu-list li a,
.ui-sidepanel .menu-box .menu-list li a:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.ui-sidepanel .menu-box .menu-list li.gotop a {
  border-style: none;
}

.ui-sidepanel .menu-box .menu-list li.gotop a .icon {
  margin-right: .5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -90deg;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -moz-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ui-sidepanel .menu-box .swiper-container {
  border-color: var(--eventBlack);
  border-radius: .375rem;
  border-width: 2px;
  height: 5rem;
  overflow-x: hidden;
  width: 5rem
}

.ui-sidepanel.closed .ui-btn .icon {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: 0deg
}

@media (min-width:1200px) {
  .ui-sidepanel.closed .ui-btn .icon {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-rotate: -180deg;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms
  }
}

.ui-sidepanel.closed .menu-box {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms;
  transform: translateX(0)
}

@media (min-width:1200px) {
  .ui-sidepanel.closed .menu-box {
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms;
      transform: translateX(105%)  ;
      -webkit-transform: translateX(105%)  ;
      -moz-transform: translateX(105%)  ;
      -ms-transform: translateX(105%)  ;
      -o-transform: translateX(105%)  ;
}
}

/*--popsale--*/
.box-popsale{
 position:fixed;
 width: 315px;
 height: 280px;
 top: -172px;
 left: calc(50vw + 330px);
 background: #ff5a93;
 z-index: 15;
 box-shadow: 3px 3px 10px #00000070;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}
.box-popsale img{
  width: 65%;
  position: absolute;
  top: 184px;
    left: 72px;
}
@media (max-width:991px) {
  .box-popsale{
    width:100%;
    height: 56px;
    top: auto;
    bottom:0;
    left:0;
    background: #ff5a93;
    z-index: 20;
    box-shadow: -3px 0 8px #000000a8;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
}
.box-popsale a{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
  .box-popsale img{
    width:auto;
    height: 90%;
    position:relative;
    top: auto;
    left: auto;
  }
}
/*----- 版頭輪播ＫＶSwiper -----*/

.kvslide{ 
  position:absolute;
  width:848px;
  height:630px;
  margin: 0 auto;
z-index: 11; top: 71px;
right: -98px;
background: url(../images/KV_display.png) top center no-repeat;
background-size:cover;}
@media (max-width:1366px) {
  .kvslide{ 
    width:755px;
    height:561px;
   top:67px;
  right:0;}
}
@media (max-width:991px) {
  .kvslide{ 
    position: relative;
    width: 100vw;
    height:calc(100vw * 1.287);
    top: 0;
    right: 0;
    margin-top: 35px;
    background: url(../images/KV_display_m1026.png) top center no-repeat;
    background-size: 100%;
  }
}
.kvslide .swiper-slide {
        text-align: center;
        font-size: 18px;
        cursor:pointer;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }




     .kvslide .swiper {
        /* width: 100%;
        height: auto; */
        margin-left: auto;
        margin-right: auto;
      }

     .kvslide .swiper-slide {
        background-size: cover;
        background-position: center;
      }
/*輪播主商品*/
     .kvslide .mySwiper-kv2 {
      position: absolute;
      right: 163px;
      top: 30px;
        height:540px!important;
        width: 375px;
        padding: 0;
     }
@media (max-width:1366px) {
  .kvslide .mySwiper-kv2 {
    right: 145px;
      top: 25px;
        height:480px!important;
        width: 334px;
     }
    }
    @media (max-width:991px) {
      .kvslide .mySwiper-kv2 { 
        position: relative;
        width: 100%; 
        height:auto!important;
        top: auto; 
        bottom: 0;
        right: 0}
    }
    
/*四個分類按鈕*/
 .kvslide .mySwiper-kv {
      position: absolute;
        height: auto;
        box-sizing: border-box;
        padding: 10px 0;
        width: 269px;
        height: 351px;
        top: -13px;   
      }
@media (max-width:1366px) {
  .kvslide .mySwiper-kv {
      padding: 10px 0;
      width: 237px;
      height: 320px;
      top: 0;   
    }
}
@media (max-width:991px) {
  .kvslide .mySwiper-kv {
    position: relative;
    padding: 10px 0;
    width: 33.6%;
    height:46.7%;
    margin-right: 0;
    right: 0;
    top: 0;   
  }
}
.kvslide .mySwiper-kv .swiper-wrapper{display: flex;
        flex-direction: column;
      align-items: center;}
.kvslide .mySwiper-kv .swiper-slide {
        width: 200px!important;
        height: 50px;
        line-height: 60px;
        padding: 0;
        margin-bottom: 33px;
        border: none;
        /* transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out; */
}
@media (max-width:1366px) {
  .kvslide .mySwiper-kv .swiper-slide {
    width: 160px!important;
    height: 40px;}
}
@media (max-width:991px) {
  .kvslide .mySwiper-kv .swiper-slide {
    width: 90%!important;
    height: 24%;
    margin-bottom:0;
  margin:0 auto}
}
.kvslide .mySwiper-kv .swiper-slide-thumb-active {
 filter:brightness(1);
 color:#008b94      ;
 animation: pulse 1.5s ease-in-out alternate;
 /*animation: brightness-play2 3s   ;
 -webkit-animation: pulse 1.5s ease-in-out alternate;
 background: rgba(255, 255, 255, 0.6) ;
 border-radius: 40px;
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 -ms-border-radius: 40px;
 -o-border-radius: 40px;
 box-shadow: 1px 1px 3px 3px #00929c6e inset;
 */:;
}
      .kvslide  .swiper-button-next,.kvslide .swiper-button-prev{
        display: none;
      }
/* */
@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.1));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.1));
}
  
50% {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(-3px 3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(3px -3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.9));
  -webkit-filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(-3px 3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(3px -3px 2px rgba(255, 255, 255, 0.9))  drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.9));
}
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.1));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.1))  drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.1));
}
}
/*----- 品牌輪播Swiper -----*/

.brandslide{ 
  width:100%;
  max-width: 1560px;
  height:auto;
  margin: 0 auto;}
.brandslide .swiper {
        width: 100%;
        height: 100%;
      }

.brandslide .swiper-slide {
        text-align: center;
        font-size: 18px;
        cursor:pointer;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .brandslide .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        
        color: #000;
      }

     .brandslide .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

     .brandslide .swiper-slide {
        background-size: cover;
        background-position: center;
      }

     .brandslide .mySwiper2 {
        height:auto;
        width: 100%;
        padding: 15px;
        background: #d2e8e8;
        box-shadow:2px 2px 4px #01545a21;
        border-radius: 160px 30px 30px 30px;
        -webkit-border-radius: 160px 30px 30px 30px;
        -moz-border-radius: 160px 30px 30px 30px;
        -ms-border-radius: 160px 30px 30px 30px;
        -o-border-radius: 160px 30px 30px 30px;
}
@media (max-width:991px) {
  .brandslide .mySwiper2 {
    padding: 5px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
}
/*左右按鈕隱藏*/
.brandslide .swiper-button-next, .brandslide .swiper-button-prev{
display: none;
}
/*品牌四個分類按鈕*/
     .brandslide .mySwiper {
        height: auto;
        box-sizing: border-box;
        padding: 10px 0;
        width: 100%;
        max-width: 750px;
      }
@media (max-width:991px) {

      }
 .brandslide .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.8;
        color: #fff;
        font-size: 1.4rem;
        border-radius:30px;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        -ms-border-radius:30px;
        -o-border-radius:30px;
        background-color: #4dccc6;
    background-image: linear-gradient(315deg, #6eb8bc 0%, #7eced4 74%);
    line-height: 3.6rem;
    padding: 0;
    border: none;
      }
.brandslide .mySwiper .swiper-slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px; 
        border: 2px solid transparent;
        background: linear-gradient(360deg,#7ab4b8,#fff) border-box;
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
      }
.brandslide .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
        color:#007b94;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
      }
@media (max-width:991px) {
  .brandslide .mySwiper .swiper-slide {
    font-size: 1rem;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    line-height:3rem;
}
.brandslide .mySwiper .swiper-slide::before {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
}


/* 半圓形背景*/
.imageWrapper {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  width:95vw;
  height:100%;
  border-radius:0 600px 600px 0;
    -webkit-border-radius:0 600px 600px 0;
    -moz-border-radius:0 600px 600px 0;
    -ms-border-radius:0 600px 600px 0;
    -o-border-radius:0 600px 600px 0;
  background-color: #34c2ce;
}
@media (max-width: 1366px){
    .imageWrapper {
      border-radius:0 300px 300px 0;
      -webkit-border-radius:0 300px 300px 0;
      -moz-border-radius:0 300px 300px 0;
      -ms-border-radius:0 300px 300px 0;
      -o-border-radius:0 300px 300px 0;
} 
}
@media (max-width: 991px){
.imageWrapper {
    top: 10px;
    width:100vw;
    border-radius:0 20vw 20vw 0;
    -webkit-border-radius:0 20vw 20vw 0;
    -moz-border-radius:0 20vw 20vw 0;
    -ms-border-radius:0 20vw 20vw 0;
    -o-border-radius:0 20vw 20vw 0;
}
}
.imageWrapper2 {
  position: absolute;
  top: 20px;
  right: 0;
  width:95vw;
  height:100%;
  border-radius: 200px 0 0 200px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  background-color: #34c2ce;
}
@media (max-width: 1366px){
    .imageWrapper2 {
      border-radius:100px 0 0 100px;
      -webkit-border-radius:100px 0 0 100px;
      -moz-border-radius:100px 0 0 100px;
      -ms-border-radius:100px 0 0 100px;
      -o-border-radius:100px 0 0 100px;
} 
}
@media (max-width: 991px){
.imageWrapper2 {
    top: 10px;
    width:100vw;
    border-radius:10vw 0 0 10vw;
    -webkit-border-radius:10vw 0 0 10vw;
    -moz-border-radius:10vw 0 0 10vw;
    -ms-border-radius:10vw 0 0 10vw;
    -o-border-radius:10vw 0 0 10vw;
}
}
/**/
section.bg-moveup::before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index:0;
  opacity: 1;
  background-image: url(../images/icon-bg.png);
  animation: wrapperbgTrans1 30s linear infinite;
  -webkit-animation: wrapperbgTrans1 30s linear infinite;
}

@-webkit-keyframes wrapperbgTrans1{
  to{
    -webkit-transform:translateX(0px) translateY(-814px) scale(1,1);
    transform:translateX(0px) translateY(-814px) scale(1,1);
    -moz-transform:translateX(0px) translateY(-814px) scale(1,1);
    -ms-transform:translateX(0px) translateY(-814px) scale(1,1);
    -o-transform:translateX(0px) translateY(-814px) scale(1,1);
}}
@keyframes wrapperbgTrans1{
  to{
     -webkit-transform:translateX(0px) translateY(-814px) scale(1,1);
     transform:translateX(0px) translateY(-814px) scale(1,1);
     -moz-transform:translateX(0px) translateY(-814px) scale(1,1);
     -ms-transform:translateX(0px) translateY(-814px) scale(1,1);
     -o-transform:translateX(0px) translateY(-814px) scale(1,1);
}}



/*------------footer------------*/
footer {
  display: flex;
  width: 100%;
  height: 480px;
  position: relative;
}
footer::before{
  content: '';
  display: block;
  width: 100%;
  height: 335px;
  background:#34c2ce;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:0;

}
footer .leftpic{
  padding: 0;
  height: 100%;
  width: 100%;
  border-radius:0 300px 0 0;
  -webkit-border-radius:0 300px 0 0;
  -moz-border-radius:0 300px 0 0;
  -ms-border-radius:0 300px 0 0;
  -o-border-radius:0 300px 0 0;
  overflow: hidden;
}
footer .leftpic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .righttxt{padding-top: 215px;}
footer .righttxt p {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.6rem;
  
}
@media screen and (max-width:1366px) {
  footer {height: 380px;}
  footer::before{height: 270px;}
  footer .leftpic{
    border-radius:0 200px 0 0;
    -webkit-border-radius:0 200px 0 0;
    -moz-border-radius:0 200px 0 0;
    -ms-border-radius:0 200px 0 0;
    -o-border-radius:0 200px 0 0;}
  footer .righttxt{padding-top:160px;}
}
@media screen and (max-width: 991px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  footer .leftpic{
    border-radius:0 150px 0 0;
    -webkit-border-radius:0 150px 0 0;
    -moz-border-radius:0 150px 0 0;
    -ms-border-radius:0 150px 0 0;
    -o-border-radius:0 150px 0 0;
}
  footer::before{display: none;}
  footer .righttxt{
    padding-top: 80px;
    padding-bottom: 80px;
    background:#34c2ce;}
}
@media screen and (max-width: 480px) {
  footer .righttxt{
    padding-top: 50px;
    padding-bottom: 50px;}
}


ul.box-weblist{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
ul.box-weblist li{  
}

ul.box-weblist li a{
  display: flex;
  height: 120px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;background-position:left center;
}
.bg-ico-pink a{
  background-image: url(../images/shape-pink.svg);}
.bg-ico-green a{background-image: url(../images/shape-green.svg);}
.bg-ico-orange a{background-image: url(../images/shape-orange.svg);}
ul.box-weblist li p{
  color: #fff;
  font-size: 1.2rem;
  text-shadow:1px 1px 2px #0000003d;
  letter-spacing: 1px;
}
ul.box-weblist li p strong{
  font-size: 2rem;
  font-weight: 600;
}
ul.box-weblist li img{
  width: 36px; height: 36px;
  margin-left: 5px;
}
@media screen and (max-width: 1366px) {
  ul.box-weblist{
    gap: 30px;
  }
  ul.box-weblist li a{
    height: 100px;
  }
  ul.box-weblist li p{
    font-size: 1rem;
  }
  ul.box-weblist li p strong{
    font-size: 1.6rem;
  }
  ul.box-weblist li img{
    width: 30px; height: 30px;
  }
}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 480px) {
  ul.box-weblist{
    gap: 15px;
  }
  ul.box-weblist li {
    width: calc(33.3% - 10px);
}
  ul.box-weblist li a{flex-direction: column;justify-content: center;
    padding-top: 30px;background-position: center center;
  }
  ul.box-weblist li p{
    font-size: 1rem;
  }
  ul.box-weblist li p strong{
    font-size: 1.4rem;
    display: block;
  }
}






/*------  5品區 ------*/

.box-5p {
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .box-5p {
    width: 100%;
    margin:0 auto;
  }
}
.box-5p ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}
@media screen and (max-width: 991px) {
  .box-5p ul {
    flex-wrap: wrap;
    gap: 10px;
   
  }
}

.box-5p li {
  width: calc(20% - 12px);
  background-color: #fff;
  border-radius: 12px;
    overflow: hidden;box-shadow: 1px 1px 4px #44444459;
}

@media screen and (max-width: 991px) {
  .box-5p li {
    width:calc(50% - 5px);
    padding: 0;
    margin:0;
}}
.box-5p li:first-child{
  height:auto;
  background-color:transparent;
  border-radius: 300px 300px 12px 12px;
  -webkit-border-radius: 300px 300px 12px 12px;
  -moz-border-radius: 300px 300px 12px 12px;
  -ms-border-radius: 300px 300px 12px 12px;
  -o-border-radius: 300px 300px 12px 12px;
}
@media screen and (max-width: 991px) {
  .box-5p li:first-child{
    width: 100%;
    height: calc(100vw * 1.3);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
}
.box-5p li:first-child img{
  width: 100%;height: auto;
}
@media screen and (max-width: 991px) {
  .box-5p li:first-child img{
    height: calc(100vw * 1.3);
    object-fit: cover;
    object-position: bottom;
  }
}
.box-5p li a {
  display: block;
}

.box-5p .font {
  display: block;
  text-align: center;
}

.box-5p .font h4 {
  padding: 6px 10px;
  margin: 5px auto 10px auto;
  color:  #00acbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-5p .font p {
  margin: 0;
}

.box-5p .font .price {

}

.box-5p .font .price big {}
.box-5p i{
  margin: 0 auto 10px 0;
}
.box-5p img {
  display: block;
  width: 100%;
  height:auto;
  object-fit: cover;

}

@media screen and (max-width: 991px) {



  .box-5p .font {
    margin: 0 0 3vw 0;
  }

  .box-5p .font h4 {
    padding: 1vw;
  }

  .box-5p .font p {}

  .box-5p .font .price {

  }

  .box-5p img {
    width: 46vw;
    height: 46vw;
  }
}


/* --------keywordA-------- */
.keywordA {
  width:100%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.keywordA li {
  text-align: center;
  overflow: hidden;
  margin: 10px;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 220px;
    height: 90px;
}

.keywordA li img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .keywordA {
    margin: auto;
    padding: 0;
    width: 100%;
    min-width: 100%;overflow: hidden;
  }

  .keywordA li {
    padding:0 5px;
    width: 147px;
    height: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

}
@media screen and (max-width:480px) {
  .keywordA li {
    margin:6px;
    width: 110px;
    height: 45px;

  }
}
/* --------keywordB-------- */
.keywordB {
  width:94%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:15px
}


.keywordB li {
  position:relative;
  width:calc(33.3% - 10px);
  height: 120px;
  text-align: center;
  overflow: hidden;
  
  box-shadow: 0px 0px 7px 6px #ffffff inset;

}
@media screen and (max-width:991px) {
  .keywordB {width:100%;}
}
@media screen and (max-width:480px) {
  .keywordB {width:100%;gap:6px}
  .keywordB li {
    height: 160px;
    width:calc(33.3% - 4px);
  }
}
.keywordB li a{
  display: flex;
  width: 100%;
    height: 100%; 
}
@media screen and (max-width:480px) {
  .keywordB li a{
    flex-direction: column;
  }
}
.keywordB li i{
  display: block;
  width: 55%;
}
.keywordB li i img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width:480px) {
  .keywordB li i{
    width:100%;
    height:55%;
  }
  .keywordB li i img{
    width: 100%;
    height: 100%;
  }
}

.keywordB li p{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  color: #f4efe9;
  font-size: 1.2rem;
  padding: 0 5px;text-shadow: 1px 1px 1px #3333337d;
  letter-spacing: 1px;
}
.keywordB li p span{font-weight: 600;}
.keywordB li p strong{
  display: block;
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 800;
}
@media screen and (max-width:480px) {
  .keywordB li p{
    width: 100%;
    height: 45%;
    font-size: 1rem;
  }
  .keywordB li p strong{;
    font-size: 1.4rem;
  } 
}
.keywordB li a::before{
  content: '';
  display: block;
  position: absolute;
  top: 13px;
    right: 13px;
    width: 36px;
    height: 36px;
  background: url(../images/ico-go.svg) center no-repeat;
  background-size: cover;
}
@media screen and (max-width:991px) {
  .keywordB li a::before{
    top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
  }
}
@media screen and (max-width:480px) {
  .keywordB li a::before{
    top: auto;
    right: 7px;
    bottom: 7px;
    width: 30px;
    height: 30px;
  }
}
/*------ 1大圖+文字區 ------*/
.photograph {
  width: 100%;
  padding: 0 10px;
  margin: 20px auto 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photograph a {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.photograph a:hover {
  transform: scale(0.96);
}

.photograph .font {
  display: block;
  width: 470px;
  height: auto;
  margin: auto 0px auto -30px;
  padding: 0px 20px 20px;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.photograph .font h4 {
  font-size: 2rem;
  border-bottom: #000000 solid 1px;
  padding: 20px;
  margin: 10px 30px 12px;
  line-height: 2.2rem;
}

.photograph .font p {
  line-height: 1.8rem;
  padding: 0 30px;
}

.photograph .font .icon_award {
  width: 130px;
  height: auto;
  position: absolute;
  right: -10px;
  bottom: 10px;
}

.photograph .font .price {
  padding: 0 30px;
}

.photograph>img {
  width: 642px;
  height: 380px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .photograph {
    width: 90vw;
    padding: 0;
    margin: 2vw auto;
    flex-wrap: wrap;
  }

  .photograph a {
    width: 100%;
    margin: 0 auto;
  }

  .photograph .font {
    width: 100%;
    height: auto;
    padding: 0 0 15px;
    margin: auto
  }

  .photograph .font h4 {
    margin: 2vw auto;
    padding: 2vw;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .photograph .font p {
    width: 90%;
    padding: 2vw;
    margin: 2vw auto;
  }

  .photograph>img {
    width: 100%;
    height: 100%;
  }

  .cont06 .titleR {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .photograph .font .icon_award {
    width: 80px;
    height: auto;
    position: absolute;
    right: -10px;
    bottom: 20px;
  }
}

/*------ 一帶六品區 橫式 -----*/
ul.box-oneplus6{
  display: flex;
  flex-wrap: wrap;
  gap:20px
}
ul.box-oneplus6 li{
  width: calc(25% - 15px);
}
@media screen and ( max-width: 991px ){
  ul.box-oneplus6{
    gap:10px
  }
  ul.box-oneplus6 li{
    width: calc(50% - 5px);
  }
}
ul.box-oneplus6 .itemhead {
  width: calc(50% - 10px);
  padding: 0;
  align-items: end;
    display: flex;
}
@media screen and ( max-width: 991px ){
  ul.box-oneplus6 .itemhead {
    width:100%;
  height: auto;}
}
ul.box-oneplus6 .itemhead img{
  width: 100%;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

ul.box-oneplus6 .itemlist {
  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 1px 1px 4px #44444459;
}
ul.box-oneplus6 .itemlist img{
  width: 100%;
  height: auto;
}
ul.box-oneplus6 .itemlist .font{
  display: block;
    text-align: center;
}
ul.box-oneplus6 .itemlist .font h4{padding: 6px 10px;
  margin: 5px auto 10px auto;
  color: #00acbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
ul.box-oneplus6 .itemlist .font p{margin: 0;

}


/*------ 商品往左跑跑 ------*/
.runitem {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  height: 234px;
}

.runitem-img{
  position: absolute;
  top: 0px;
  left: 0px;
  animation: slide 50s linear infinite;
  width: 4400px;
  height: 100%;
  background: url(../images/kv-img-1.png) repeat-x;
  z-index: 10;
  -webkit-animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2200px, 0, 0);
    -webkit-transform: translate3d(-2200px, 0, 0);
    -moz-transform: translate3d(-2200px, 0, 0);
    -ms-transform: translate3d(-2200px, 0, 0);
    -o-transform: translate3d(-2200px, 0, 0);
  }
}


/*--------降落動態背景--------*/
.bg-falling {
  background-repeat: repeat;
  background-position: center 0
}

@media screen and (min-width:1024px) {
  .bg-falling {
    background-image: url(../images/wave/egg-pc.png);
    background-size: 100%;
    -webkit-animation: background-loopY-pc 40s infinite linear;
    animation: background-loopY-pc 40s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling {
    background-image: url(../images/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling-mqDown-lg {
    background-image: url(../images/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    background-repeat: repeat;
    background-position: center 0;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@-webkit-keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@-webkit-keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}

@keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}


/*-------- 圖片循環跑 --------*/
.loop-slider{
  background: #f4efe9;
  height: 280px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loop-slider .loop-slide-track {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(350px * 14);
}

.loop-slider .loop-img {
  height: 280px;
  width: 350px;
}

.loop-slider .loop-img img {
  height: 280px;
  width: 350px;
}


@media screen and (max-width: 767px) {
  .loop-slider{
    height: 200px;
  }

  .loop-slider .loop-slide-track {
    -webkit-animation: scroll2 90s linear infinite;
    animation: scroll2 90s linear infinite;
    width: calc(250px * 14);
  }

  .loop-slider .loop-img {
    height: 200px;
    width: 220px;
  }

  .loop-slider .loop-img img {
    height: 200px;
    width: 250px;
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-280px * 7));
    transform: translateX(calc(-280px * 7));
  }
}
@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    -moz-transform: translateX(calc(-250px * 7));
    -ms-transform: translateX(calc(-250px * 7));
    -o-transform: translateX(calc(-250px * 7));
  }
}


/* ------------左右上下跑 ------------*/
.slideY-down {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  left: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../images/slide_img01.png) repeat-y 0 0;
  -moz-animation: loop2 80s linear infinite;
  animation: loop2 80s linear infinite;
  -webkit-animation: loop2 80s linear infinite;
}

.slideY-up {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  right: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../images/slide_img02.png) repeat-y 0 0;
  -moz-animation: loop 80s linear infinite;
  animation: loop 80s linear infinite;
  -webkit-animation: loop 80s linear infinite;
}

@keyframes loop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -2000px;
  }
}

@keyframes loop2 {
  0% {
    background-position: 0 -2000px;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 991px) {

  .slide_img01 {
    left: auto;
    right: calc(50% + 300px);
  }

  .slide_img02 {
    left: calc(50% + 300px);
    right: auto;
  }

}



/*******/
.floating_pic1{
  position: absolute;
    top: 0;
    z-index: 13;
    pointer-events: none;
    width: 100%;
    background: url(../images/floating1.png) top center no-repeat;height: 1602px;
}
.floating_pic2{
  position: absolute;
    top: -900px;
    z-index: 13;
    pointer-events: none;
    width: 100%;
    background: url(../images/floating2.png) top center no-repeat;height: 1662px;
}