@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lato:wght@700;900&display=swap');
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
}

:focus {
  outline: 0;
}


/* ---reset.css--- */
html,body,div,span,applet,object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


/* Public Version 公版顏色設定 */
:root {
  --PV-font: #363636;
  /* 文字色-灰 */
  --PV-eslite: #a7212f;
  /* 標準色 */
  --btn-font: "Montserrat", sans-serif;
  --price-font: 'EB Garamond', serif;
}

/* 文字樣式設定 */
html,
body {
  font-family: Verdana, 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-size: 16px;
  color: var(--PV-font);
}

h2 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
}

/* 區塊大標 */
h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
}

/* 區塊小標 */
h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.4rem;
}

/* 特色標 */
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.w-100{
  width: 100%;
}



/* 價格 */
.price {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--PV-font);
  display: block;
  font-family: var(--price-font)
}
.price s{margin-right:10px;}
.price strong {
  font-size: 140%;
  color: var(--PV-font);
  font-weight: 500;
}
/* 內文 */
.font {
  color: var(--PV-font);
}

/* 文字顏色 */
a {
  color: var(--PV-font);
}
.bg-1 {
  background: #f5f0a2;
}

.bg-2 {
  background: #ace4e3;
}

.bg-3 {
  background: #c5ecc4;
}
.bg-4 {
  background: #d2eef0;
}
.bg-5{background: #d2f0e5}
.bg-6{background: #f0d2c8;}
.bg-7{background: url(../images/contbg_06.png) top center repeat #f5efe9;}
.bg-plus{background: url(../images/contbg_06.png) top center repeat #f5efe9;}

@media screen and (max-width: 991px) {

  html,
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 2.2rem;
  }
}
li {
    list-style: none;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  li:hover {
    transform: scale(0.98);
  }
  /* 副標樣式 */
.ribbon {
  margin: 5px auto 10px auto;
  padding: 12px 10px;
  height: 42px;
  -webkit-clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  font-family: "font_condensed";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .ribbon {
    font-size: 1rem;
    width: 98%;
    height: 36px;
  }

}
/*圓角*/
.rounded-30{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.rounded-40{
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
/* PC */
.WRAPPER {
  position: relative;
  width: 100%;
  min-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}
section{
  position:relative;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  .WRAPPER {
    min-width: 100%;
  }

}

.container {
  overflow: hidden;
  clear: both;
  width: 100%;
  max-width: 1160px;
  margin:0 auto
}
.container2 {
  overflow: hidden;
  clear: both;
  width: 100%;
  max-width: 1600px;
  margin:0 auto
}
/* m */
@media screen and (max-width: 991px) {
  .container {
    padding: 0 5px;
  }
  .for_pc {
    display: none;
  }
  .for_m {
    display: block;
  }
}


/* ---------BACKGROUND-------- */




/*----PC版menu---- */
.headmenu {
  position: absolute;
  bottom: 30px;
  background: none;
  width: 100%;
  height: auto;
  z-index: 990;
}

@media screen and (max-width: 991px) {
  #navbar1 {
    display: none;
  }

  .sticky+.content {
    padding-top: 0px !important;
  }
}

.headmenu .nav_content {
  width: 975px;
  margin: 0 auto;
}

/* Navbar links */
.headmenu a {
  float: left;
  display: flex;
  text-decoration: none;
  width: 315px;
  color: #363636;
  height: 80px;
  padding: 10px 0;
  margin: 5px;
  line-height: 60px;
  font-family: 'Noto Serif TC', "微軟正黑體", "Microsoft JhengHei", Helvetica, Verdana, Arial, sans-serif;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.headmenu .row_01 a {
  background: #f1eb8d;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_02 a {
  background: #93dedd;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_03 a {
  background: #b8dccf;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_04 a {
  background: #b8dccf;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_05 a {
  background: #f0c0be;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_06 a {
  background: #d3bfe4;
  border-radius: 40px 15px 45px 40px;
  -webkit-border-radius: 40px 15px 45px 40px;
  -moz-border-radius: 40px 15px 45px 40px;
  -ms-border-radius: 40px 15px 45px 40px;
  -o-border-radius: 40px 15px 45px 40px;
}

.headmenu .row_06 a {
  border-right: none;
}

.headmenu a:hover {
  transform: scale(0.96);
}

.book-btn {
  display: inline-block;
  text-align: left;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1px;
}

.book-btn em {
  display: inline-block;
  font-style: normal;
}

.book-btn b {
  display: inline-block;
  font-size: 24px;
  margin: 0 5px;
  font-weight: 600;

}

.icon1 {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  background: #fff;
}

.icon1 img {
  position: relative;
  height: auto;
  width: 90%;
  margin: 5% auto;
}



/*menu  for mobile*/
menu {
  display: none;
}

@media screen and (max-width: 991px) {
  menu {
    display: block;
  }
}

menu ul {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #f5efe9;
  z-index: 1000;
  border-top: none;
}

menu ul li {
  padding: 8px;
  width: 33.3%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
}

menu ul li a {
  font-size: 15px;
}

menu ul li:nth-last-child(1) {
  border-right: none;
}

menu ul li:nth-child(4) {
  border-right: none;
}

menu a {
  color: ;
  text-decoration: none;
}

menu ul li:nth-child(1) {
  background-color: #f1eb8d;
}

menu ul li:nth-child(2) {
  background-color: #93dedd;
}

menu ul li:nth-child(3) {
  background-color: #b8dccf;
}

menu ul li:nth-child(4) {
  background-color: #b8dccf;
}

menu ul li:nth-child(5) {
  background-color: #f0c0be;
}

menu ul li:nth-child(6) {
  background-color: #d3bfe4;
}





/*Go to top回頂端 button*/
a.my-btn-goTop {
  position: fixed;
  bottom: -50px;
  right: 25px;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff725e;
  background-size: 60%;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0.8;

}

a.my-btn-goTop img {
  width: ;
}

/*箭頭顯示時要做的事*/
a.my-btn-goTop.show {
  opacity: 1;
  bottom: 70px
}


/*------kv slider------*/


.kvslide {
  position: absolute;
  z-index: 1;
  width: 1160px;
  height: 600px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.kvslide .container {
  position: absolute;
  top: 60px;
  right: 70px;
  width: 720px;
  height: 600px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: ;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .kvslide .container {
    height: 100%;
    max-height: 100%;
  }
}

.kvslide .mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.kvslide .left-side {
  position: absolute;
  z-index: 2;
  width: 340px;
  height: 400px;
  left: 380px;
  bottom: 0;
}

.kvslide .main {
  padding: 0;
  display: flex;
  flex-grow: 1;
  position: relative;
}

@media screen and (max-width: 930px) {
  .kvslide .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.kvslide .main-img {
  width: 260px;
  height: auto;
  transition-delay: 0.2s;
  margin: 0 auto 15px auto;
}

.kvslide .main-info {
  transition-delay: 0.3s;
}

.kvslide .info-header {
  text-transform: none;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.4s;
}

.kvslide .info-title {
  font-family: ;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
  transition-delay: 0.5s;
}

.kvslide .info-subtitle {
  font-family: var(--price-font);
  font-weight: 400;
  font-size: 32px;
  margin-top: 10px;
  transition-delay: 0.6s;
}

.kvslide .info-menu {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition-delay: 0.7s;
  z-index: 5;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (max-width: 930px) {
  .kvslide .info-menu {
    justify-content: center;
  }
}

.kvslide .info-menu svg {
  width: 28px;
  height: 18px;
  margin-left: 10px;
}

.kvslide .center {
  display: flex;
  margin-left: 0;
  position: relative;
  flex-shrink: 0;
}

.kvslide .center .bottle-bg {
  width: 580px;
  height: 543px;
  object-fit: cover;
}


.kvslide .bottle-img {
  /* position: absolute;
  top: 0;
  right: 0; */
  transform: scale(.7);
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
}

.kvslide .swiper-pagination {
  display: none;
  position: absolute;
  right: 30px;
  left: auto;
  top: 100px;
  width: auto;
  bottom: auto;
  z-index: 2;
  font-size: 14px;
  font-family: var(--body-font);
  font-weight: 500;
}

.kvslide .button-wrapper {

  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  display: none;
}

@media screen and (max-width: 930px) {
  .kvslide .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
}

@media screen and (max-width: 575px) {
  .kvslide .button-wrapper {
    padding: 0 20px;
  }
}

.kvslide .button-wrapper svg {
  width: 28px;
}

.kvslide .button-wrapper .swiper-button {
  display: none;
  border: 1px solid var(--body-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.kvslide .button-wrapper .swiper-button+.swiper-button {
  margin-left: 16px;
}

@media screen and (max-width: 930px) {
  .kvslide .button-wrapper .swiper-button+.swiper-button {
    margin-left: 0;
  }
}

.kvslide .button-wrapper .swiper-button:hover {
  background-color: var(--body-color);
  background-position: left bottom;
}

.kvslide .button-wrapper .swiper-button:hover svg {
  stroke: #fff;
}

.kvslide .button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}

.kvslide .button-wrapper .swiper-prev-button svg {
  transform: rotate(-180deg);
}

.kvslide .button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}

.kvslide .swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}

.kvslide .swiper-slide-active {
  opacity: 1 !important;
}

.kvslide .swiper-slide .main-content {
  z-index: 3;
}

.kvslide .swiper-slide .main-wrapper {

  position: relative;
  margin-top: 0;
  padding-top: 20px;
}

.kvslide .swiper-slide .main-wrapper>*,
.kvslide .swiper-slide .main-content>* {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}

.kvslide .swiper-slide-active .main-wrapper>*,
.kvslide .swiper-slide-active .main-content>* {
  transform: none;
  opacity: 1;
}

.kvslide .swiper-slide .bottle-bg {
  transition-duration: 0.6s;
  opacity: 0;
  object-position: -15px 0;
}

.kvslide .swiper-slide-active .bottle-bg {
  opacity: 1;
  transform: none;
  object-position: 0 0;
}

.kvslide .swiper-slide .bottle-img {
  position: absolute;
  width: 340px;
  height: 400px;
  top: 0;
  left: 0;
  transition-duration: 0.8s;
  transform: scale(.5);
  opacity: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
}

.kvslide .swiper-slide-active .bottle-img {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

[data-sld="1"] .kvslide .container,
[data-sld="1"] .kvslide .header {}

[data-sld="2"] .kvslide .container,
[data-sld="2"] .kvslide .header {}

[data-sld="3"] .kvslide .container,
[data-sld="3"] .kvslide .header {}

@media screen and (max-width: 991px) {
  .kvslide {
    position: relative;
    width: 100%;
    max-width: 680px;
    height: auto;
    top: 0;
    left: 0;
    margin: 0 auto;
    transform: none;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
  }

  .kvslide .container {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
  }

  .kvslide .left-side {
    width: 90%;
    left: 5px;
    height: auto;
  }

  .kvslide .swiper-slide .bottle-img {
    display: none;
  }

  .kvslide .swiper-slide .main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .kvslide .swiper-slide .main-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 10%;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  #slideA .main-wrapper::before {
    background: #f1df8d;
  }

  #slideB .main-wrapper::before {
    background: #b8dccf;
  }

  #slideC .main-wrapper::before {
    background: #f0c0be;
  }

  .kvslide .main-img {
    width: 36%;
    z-index: 2;
  }

  .kvslide .main-info {
    z-index: 1;
    width: 63%;
    height: 90px;
    padding: 15px 5px 10px 5px;


  }

  .kvslide .center .bottle-bg {
    width: 96%;
    height: auto;

  }
}

@media screen and (max-width: 480px) {
  .kvslide .main-img {
    width: 46%;
  }

  .kvslide .main-info {
    width: 63%;
    height: auto;
    max-height: 90px;
    padding: 10px 5px;

  }

  .kvslide .info-header {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .kvslide .info-title {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1em;
  }

  .kvslide .info-subtitle {
    font-size: 18px;
    margin-top: 5px;
  }

  .kvslide .info-menu {
    font-size: 11px;
    margin-top: 5px;
  }
}





/*------------header------------*/  
  .header {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap-reverse;
    height: 900px;
    background: url(../images/0802/KV.jpg) #f4efe9 top center repeat-x;
    background-size: auto
  }
  
  .topbox {
    position: relative;
    width: 1160px;
    margin: 0 auto;
  }

  .for_pc {
    display: block;
  }
  
  .for_m {
    display: none;
  }
  
  /* m */
  @media screen and (max-width: 991px) {
    .header {
      height: auto;
      background-size: 1600px 579px;
    }
  
    .topbox {
      position: relative;
      width: 100%;
      margin: auto;
      padding: 0 5px;
    }
  
    .header .kv_bg_pc {
      display: none;
    }
  
    .container {
      width: 100%;
      min-width: auto;
    }
  
    .for_pc {
      display: none;
    }
  
    .for_m {
      display: block;
    }
  }

  .header_title_pc {
    position: absolute;
    z-index: 3;
    top: 240px;
    left: 60px;
  }
  
  .header_title_pc img {
    width: 375px;
    height: 415px;
  }
  
  .header_title_m {
    display: none;
  }
  
  .header_subtitle_m {
    display: none;
  }
  
  .p01 {
    position: absolute;
    top: 200px;
    left: -150px;
    z-index: 2;
  }
  
  .p01 img {
    width: 209px;
    height: auto;
  }
  
  .p02 {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 890px;
  }
  
  .p02 img {
    width: 200px;
    height: 200px;
  }
  
  .p03 {
    z-index: 2;
    position: absolute;
    top: 86px;
    left: 333px;
  }
  
  .p04 {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 870px;
  }
  
  .p04 img {
    width: 324px;
    height: 331px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  
  .p04 a {
    cursor: pointer;
  }
  
  .p04 img:hover {
    transform: scale(0.96);
    cursor: pointer;
  }
  
  .p05 {
    z-index: 2;
    position: absolute;
    top: 510px;
    left: -285px;
  }
  
  .p06 {
    z-index: 2;
    position: absolute;
    top: 480px;
    right: -300px;
  }
  
  .header_p04_m {
    display: none;
  }
  
  @media screen and (max-width: 991px) {
  
    .header_title_pc {
      display: none;
    }
  
    .header_title_m {
      display: block;
      margin: 60px auto 0;
    }
  
    .header_title_m img {
      width: 100%;
      max-width: 600px;
    }
  
    .header_subtitle_m {
      display: block;
      width: 100%;
    }
  
    .header_subtitle_m img {
      width: 100%;
    }
  
    .header_p04_m {
      display: block;
      width: 100%;
    }
  
    .header_p04_m img {
      width: 100%;
    }
  
    .p01 {
      top: 20px;
      left: 0px;
      z-index: 2;
    }
  
    .p01 img {
      width: 30vw;
    }
  
    .p02 {
      top: -20px;
      right: 5px;
    }
  
    .p02 img {
      width: 28vw;
      height: 28vw;
    }
  
    .p03 {
      display: none;
    }
  }

/*------------ YT&podcast ------------*/


.mediabox{
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.media_item {}

.media_item a {
  color: #363636;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  display: block;
}

.media_item a:hover {
  transform: scale(0.96);
}

.media_item h5 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
}

.media_item p {
  font-size: 18px;
  line-height: 1.4em;
  margin-top: 16px;
}

.youtube {
  width: 50%;
}

.podcast {
  width: 30%;
}

.ytbox {
  height: 360px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.ytbox iframe {
  border-radius: 80px 80px 80px 20px;
  -webkit-border-radius: 80px 80px 80px 20px;
  -moz-border-radius: 80px 80px 80px 20px;
  -ms-border-radius: 80px 80px 80px 20px;
  -o-border-radius: 80px 80px 80px 20px;
  overflow: hidden;
}

.podcast img {
  width: auto;
  height: 380px;
}

.podcast .cell2 {
  padding: 0 0 0 50px;
}

@media screen and (max-width: 768px) {

  .mediabox{
    width: 100%;
    flex-direction: column;
  }

  .youtube {
    width: 90%;
    margin: auto;
  }

  .podcast {
    width: 100%;
  }

  .ytbox {
    margin: 0 auto;
    height: auto;
    height: 300px;
    padding-top: 20px;
  }

  .ytbox iframe {
    border-radius: 50px 50px 50px 20px;
    -webkit-border-radius: 50px 50px 50px 20px;
    -moz-border-radius: 50px 50px 50px 20px;
    -ms-border-radius: 50px 50px 50px 20px;
    -o-border-radius: 50px 50px 50px 20px;
    overflow: hidden;
  }

  .podcast .cell2,
  .youtube .cell2 {
    padding: 10px 10px;
    text-align: center;
  }

  .media_item h5 {
    text-align: center;
  }

  .media_item p {
    text-align: center;
  }

  .podcast img {
    width: 100%;
    height: auto;
  }
}



/*------------logo_mombaby------------*/
.logo_mombaby {
  width: 100%;
  text-align: center;
  padding: 50px;
  margin: 60px auto 0 auto;
  background: #fb9c8c;
}
.logo_mombaby img {
  max-width: 500px;
  margin: auto;
}
/*------------footer------------*/
footer {
  background: #fb9c8c;
  width: 100%;
  padding: 20px 0;
}

footer p {
  width: 90%;
  color: #FFF;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 991px) {
  footer {
    padding: 20px 0 90px 0;
  }

  footer p {
    width: 94%;
  }
}



/*--------------側欄ＭＥＮＵ----------------*/

.ui-sidepanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: hidden
}

.ui-sidepanel>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.ui-sidepanel .ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--eventGreen700);
  height: 2.5rem;
  width: 2.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer
}

.ui-sidepanel .ui-btn .icon {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -180deg;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

@media (min-width:1200px) {
  .ui-sidepanel .ui-btn .icon {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-rotate: 0deg;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms
  }
}

.ui-sidepanel .menu-box {
  background-color: var(--eventGreen700);
  height: auto;
  width: 7rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem
}

.ui-sidepanel .menu-box>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.ui-sidepanel .menu-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms;
  transform: translateX(105%)
}

@media (min-width:1200px) {
  .ui-sidepanel .menu-box {
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms;
      transform: translateX(0)
  }
}

.ui-sidepanel .menu-box .menu-title {
  margin: auto
}

.ui-sidepanel .menu-box .menu-list>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse))
}

.ui-sidepanel .menu-box .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms
}

.ui-sidepanel .menu-box .menu-list li a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  border-color: var(--eventYellow900);
  border-style: solid;
  border-bottom-width: 1px
}

.ui-sidepanel .menu-box .menu-list li a,
.ui-sidepanel .menu-box .menu-list li a:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.ui-sidepanel .menu-box .menu-list li.gotop a {
  border-style: none;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000
}

.ui-sidepanel .menu-box .menu-list li.gotop a .icon {
  margin-right: .5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -90deg
}

.ui-sidepanel .menu-box .swiper-container {
  border-color: var(--eventBlack);
  border-radius: .375rem;
  border-width: 2px;
  height: 5rem;
  overflow-x: hidden;
  width: 5rem
}

.ui-sidepanel.closed .ui-btn .icon {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: 0deg
}

@media (min-width:1200px) {
  .ui-sidepanel.closed .ui-btn .icon {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-rotate: -180deg;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms
  }
}

.ui-sidepanel.closed .menu-box {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms;
  transform: translateX(0)
}

@media (min-width:1200px) {
  .ui-sidepanel.closed .menu-box {
      transition-property: all;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: 150ms;
      transform: translateX(105%)  ;
      -webkit-transform: translateX(105%)  ;
      -moz-transform: translateX(105%)  ;
      -ms-transform: translateX(105%)  ;
      -o-transform: translateX(105%)  ;
}
}


/*----- 品牌輪播Swiper -----*/

.brandslide{ 
  width:94%;
  max-width: 1560px;
  height:auto;
  margin: 0 auto;}
.swiper {
        width: 100%;
        height: 100%;
      }

.brandslide .swiper-slide {
        text-align: center;
        font-size: 18px;
        cursor:pointer;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .brandslide .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        background: #dff1e5;
        color: #000;
      }

     .brandslide .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

     .brandslide .swiper-slide {
        background-size: cover;
        background-position: center;
      }

     .brandslide .mySwiper2 {
        height:auto;
        width: 100%;
        padding: 15px;
        background: #d2e8e8;
        box-shadow:2px 2px 4px #01545a21;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
/*四個分類按鈕*/
     .brandslide .mySwiper {
        height: 80px;
        box-sizing: border-box;
        padding: 10px 0;
        width: 100%;
        max-width: 750px;
      }

      .brandslide .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.8;
        color: #fff;
        border-radius:30px;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        -ms-border-radius:30px;
        -o-border-radius:30px;
        background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
      }
.brandslide .mySwiper .swiper-slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px; 
        border: 2px solid transparent;
        background: linear-gradient(360deg,#7ab4b8,#fff) border-box;
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
.brandslide .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
        color:#008b94
      }
/* */



.imageWrapper {
  position: absolute;
  top: 15.48611vw;
  left: 0;
  width:95vw;
  height:100%;
  border-radius: 0 6.94444vw 6.94444vw 0;
  background-color: #5fcbd4;
}
@media (min-width: 1440px){
.imageWrapper {
    top: 20px;
    border-radius:0 600px 600px 0;
    -webkit-border-radius:0 600px 600px 0;
    -moz-border-radius:0 600px 600px 0;
    -ms-border-radius:0 600px 600px 0;
    -o-border-radius:0 600px 600px 0;
}
}