
.btn_more {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition-delay: 0.4s;
  margin-top: 16px
}

.btn_more b {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.btn_more svg {
  width: 28px;
  height: 18px;
  margin-left: 10px;
}

/* ------1帶4品項區 ------*/

/* // 1帶4品項區 */

/*------  5品區 ------*/

.box-5p {
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .box-5p {
    width: 100%;
    margin:0 auto;
  }
}
.box-5p ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}
@media screen and (max-width: 991px) {
  .box-5p ul {
    flex-wrap: wrap;
    gap: 10px;
   
  }
}

.box-5p li {
  width: calc(20% - 12px);
  background-color: #fff;
  border-radius: 12px;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
  .box-5p li {
    width:calc(50% - 5px);
    padding: 0;
    margin:0;
}}
.box-5p li:first-child{
  height:auto;
  background-color:transparent;
  border-radius: 300px 300px 12px 12px;
  -webkit-border-radius: 300px 300px 12px 12px;
  -moz-border-radius: 300px 300px 12px 12px;
  -ms-border-radius: 300px 300px 12px 12px;
  -o-border-radius: 300px 300px 12px 12px;
}
@media screen and (max-width: 991px) {
  .box-5p li:first-child{
    width: 100%;
    height: calc(100vw * 1.3);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
}
.box-5p li:first-child img{
  width: 100%;height: auto;
}
@media screen and (max-width: 991px) {
  .box-5p li:first-child img{
    height: calc(100vw * 1.3);
    object-fit: cover;
    object-position: bottom;
  }
}
.box-5p li a {
  display: block;
}

.box-5p .font {
  display: block;
  text-align: center;
}

.box-5p .font h4 {
  padding: 6px 10px;
  margin: 5px auto 10px auto;
  color:  var(--PV-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-5p .font p {
  margin: 0;
}

.box-5p .font .price {

}

.box-5p .font .price big {}
.box-5p i{
  margin: 0 auto 10px 0;
}
.box-5p img {
  display: block;
  width: 100%;
  height:auto;
  object-fit: cover;

}

@media screen and (max-width: 991px) {



  .box-5p .font {
    margin: 0 0 3vw 0;
  }

  .box-5p .font h4 {
    padding: 1vw;
  }

  .box-5p .font p {}

  .box-5p .font .price {
    margin: 1vw 0;
  }

  .box-5p img {
    width: 46vw;
    height: 46vw;
  }
}


/* --------keywordA-------- */
.keywordA {
  width:100%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.keywordA li {
  text-align: center;
  overflow: hidden;
  margin: 10px;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 220px;
    height: 90px;
}

.keywordA li img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .keywordA {
    margin: auto;
    padding: 0;
    width: 100%;
    min-width: 100%;overflow: hidden;
  }

  .keywordA li {
    padding:0 5px;
    width: 147px;
    height: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

}
@media screen and (max-width:480px) {
  .keywordA li {
    margin:6px;
    width: 110px;
    height: 45px;

  }
}
/* --------keywordB-------- */
.keywordB {
  width:94%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:15px
}


.keywordB li {
  position:relative;
  width:calc(33.3% - 10px);
  height: 120px;
  text-align: center;
  overflow: hidden;
  
  box-shadow: 0px 0px 5px 3px #ffffff inset;

}
@media screen and (max-width:991px) {
  .keywordB {width:100%;}
}
@media screen and (max-width:480px) {
  .keywordB {width:100%;gap:6px}
  .keywordB li {
    height: 160px;
    width:calc(33.3% - 4px);
  }
}
.keywordB li a{
  display: flex;
  width: 100%;
    height: 100%; 
}
@media screen and (max-width:480px) {
  .keywordB li a{
    flex-direction: column;
  }
}
.keywordB li i{
  display: block;
  width: 55%;
}
.keywordB li i img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width:480px) {
  .keywordB li i{
    width:100%;
    height:55%;
  }
  .keywordB li i img{
    width: 100%;
    height: 100%;
  }
}

.keywordB li p{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  color: #f4efe9;
  font-size: 1.2rem;
  padding: 0 5px;
}
.keywordB li p strong{
  display: block;
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 800;
}
@media screen and (max-width:480px) {
  .keywordB li p{
    width: 100%;
    height: 45%;
    font-size: 1rem;
  }
  .keywordB li p strong{;
    font-size: 1.4rem;
  } 
}
/*------ 1大圖+文字區 ------*/
.photograph {
  width: 100%;
  padding: 0 10px;
  margin: 20px auto 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photograph a {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.photograph a:hover {
  transform: scale(0.96);
}

.photograph .font {
  display: block;
  width: 470px;
  height: auto;
  margin: auto 0px auto -30px;
  padding: 0px 20px 20px;
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.photograph .font h4 {
  font-size: 2rem;
  border-bottom: #000000 solid 1px;
  padding: 20px;
  margin: 10px 30px 12px;
  line-height: 2.2rem;
}

.photograph .font p {
  line-height: 1.8rem;
  padding: 0 30px;
}

.photograph .font .icon_award {
  width: 130px;
  height: auto;
  position: absolute;
  right: -10px;
  bottom: 10px;
}

.photograph .font .price {
  padding: 0 30px;
}

.photograph>img {
  width: 642px;
  height: 380px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .photograph {
    width: 90vw;
    padding: 0;
    margin: 2vw auto;
    flex-wrap: wrap;
  }

  .photograph a {
    width: 100%;
    margin: 0 auto;
  }

  .photograph .font {
    width: 100%;
    height: auto;
    padding: 0 0 15px;
    margin: auto
  }

  .photograph .font h4 {
    margin: 2vw auto;
    padding: 2vw;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .photograph .font p {
    width: 90%;
    padding: 2vw;
    margin: 2vw auto;
  }

  .photograph>img {
    width: 100%;
    height: 100%;
  }

  .cont06 .titleR {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .photograph .font .icon_award {
    width: 80px;
    height: auto;
    position: absolute;
    right: -10px;
    bottom: 20px;
  }
}

/*------ 一帶六品區 橫式 -----*/
ul.box-oneplus6{
  display: flex;
  flex-wrap: wrap;
  gap:20px
}
ul.box-oneplus6 li{
  width: calc(25% - 15px);
}
@media screen and ( max-width: 991px ){
  ul.box-oneplus6{
    gap:10px
  }
  ul.box-oneplus6 li{
    width: calc(50% - 5px);
  }
}
ul.box-oneplus6 .itemhead {
  width: calc(50% - 10px);
  padding: 0;
  align-items: end;
    display: flex;
}
@media screen and ( max-width: 991px ){
  ul.box-oneplus6 .itemhead {
    width:100%;
  height: auto;}
}
ul.box-oneplus6 .itemhead img{
  width: 100%;
}

ul.box-oneplus6 .itemlist {
  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
ul.box-oneplus6 .itemlist img{
  width: 100%;
  height: auto;
}
ul.box-oneplus6 .itemlist .font{
  display: block;
    text-align: center;
}
ul.box-oneplus6 .itemlist .font h4{padding: 6px 10px;
  margin: 5px auto 10px auto;
  color: var(--PV-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
ul.box-oneplus6 .itemlist .font p{margin: 0;

}


/*------ 商品往左跑跑 ------*/
.runitem {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  height: 234px;
}

.runitem-img{
  position: absolute;
  top: 0px;
  left: 0px;
  animation: slide 50s linear infinite;
  width: 4400px;
  height: 100%;
  background: url(../images/kv-img-1.png) repeat-x;
  z-index: 10;
  -webkit-animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2200px, 0, 0);
    -webkit-transform: translate3d(-2200px, 0, 0);
    -moz-transform: translate3d(-2200px, 0, 0);
    -ms-transform: translate3d(-2200px, 0, 0);
    -o-transform: translate3d(-2200px, 0, 0);
  }
}


/*--------降落動態背景--------*/
.bg-falling {
  background-repeat: repeat;
  background-position: center 0
}

@media screen and (min-width:1024px) {
  .bg-falling {
    background-image: url(../images/wave/egg-pc.png);
    background-size: 100%;
    -webkit-animation: background-loopY-pc 40s infinite linear;
    animation: background-loopY-pc 40s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling {
    background-image: url(../images/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@media screen and (max-width:1023px) {
  .bg-falling-mqDown-lg {
    background-image: url(../images/wave/egg-sp.png);
    background-size: 91rem 98.8rem;
    background-repeat: repeat;
    background-position: center 0;
    -webkit-animation: background-loopY-sp 24s infinite linear;
    animation: background-loopY-sp 24s infinite linear
  }
}

@-webkit-keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@keyframes background-loopY-pc {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 142.55rem
  }
}

@-webkit-keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}

@keyframes background-loopY-sp {
  0% {
    background-position: center 0
  }

  100% {
    background-position: center 98.8rem
  }
}


/*-------- 圖片循環跑 --------*/
.loop-slider{
  background: #f4efe9;
  height: 280px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loop-slider .loop-slide-track {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(350px * 14);
}

.loop-slider .loop-img {
  height: 280px;
  width: 350px;
}

.loop-slider .loop-img img {
  height: 280px;
  width: 350px;
}


@media screen and (max-width: 767px) {
  .loop-slider{
    height: 200px;
  }

  .loop-slider .loop-slide-track {
    -webkit-animation: scroll2 90s linear infinite;
    animation: scroll2 90s linear infinite;
    width: calc(250px * 14);
  }

  .loop-slider .loop-img {
    height: 200px;
    width: 220px;
  }

  .loop-slider .loop-img img {
    height: 200px;
    width: 250px;
  }
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-280px * 7));
    transform: translateX(calc(-280px * 7));
  }
}
@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    -moz-transform: translateX(calc(-250px * 7));
    -ms-transform: translateX(calc(-250px * 7));
    -o-transform: translateX(calc(-250px * 7));
  }
}


/* ------------左右上下跑 ------------*/
.slideY-down {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  left: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../images/slide_img01.png) repeat-y 0 0;
  -moz-animation: loop2 80s linear infinite;
  animation: loop2 80s linear infinite;
  -webkit-animation: loop2 80s linear infinite;
}

.slideY-up {
  display: block;
  position: absolute;
  width: 400px;
  height: 100%;
  right: calc(50% + 580px);
  top: 0;
  z-index: 1;
  background: url(../images/slide_img02.png) repeat-y 0 0;
  -moz-animation: loop 80s linear infinite;
  animation: loop 80s linear infinite;
  -webkit-animation: loop 80s linear infinite;
}

@keyframes loop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -2000px;
  }
}

@keyframes loop2 {
  0% {
    background-position: 0 -2000px;
  }

  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 991px) {

  .slide_img01 {
    left: auto;
    right: calc(50% + 300px);
  }

  .slide_img02 {
    left: calc(50% + 300px);
    right: auto;
  }

}