@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import "_mixins.scss";
@import "_reset.scss";



* {
    @include box-sizing (border-box);
    font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
html, body {
    background-color: #fff !important;
    color: $textGray;
    font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    position: relative;
}





/* ---------- 共用  ----------*/
//header功能選單
@import '_header.scss';
//左右側邊選單
@import '_subMenu.scss';
//版身商品
@import '_promoPD.scss';
//警語，版權，appDownload
@import '_footer.scss';

.arrow {
    border: solid rgba(255,255,255,.7);
    border-width: 0 2px 2px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: -5px;
}
.arRight {
    @include transform(rotate(-45deg));
}
.arLeft {
    @include transform(rotate(135deg));
}
.arUp {
    @include transform(rotate(-135deg));
}

.overhide       { overflow: hidden; }
.show           { display: block !important; }
.radius_S       { @include border-radius(4px); }
.radius_M       { @include border-radius(10px !important) ; }
.radius_M_top   { @include border-radius(10px 10px 0 0); }
.radius_M_bottom{ @include border-radius(0 0 10px 10px); }
.radius_L       { @include border-radius(13px); }
.d-block        { width: 100%; }




@media only screen and (max-width: 991px) {
}

body,div,span,h1,p,a,img,dl,dt,dd{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent;}
.inset{text-align:center;}
.inset a{color:#06c;font:11px/20px normal;}
.logotype a{display:block;width:186px;height:60px;text-indent:-9999px;}
#HEADER .logotype a{background:url();}
#HEADER{position:relative;height:60px;width:930px;margin:0 auto;margin-bottom:6px;border:1px solid #e0e0e0;border-bottom:0;background:url() repeat-x;}
#HEADER a{display:block;position:absolute;}
#HEADER .site_roadsign{width:68px;height:65px;left:186px;top:0;text-indent:-9999px;}
#HEADER .site_ad{left:312px;top:16px;border:1px solid #ddd;}
#FOOTER {margin:10px 0 20px;color:#777;font:13px/1.5 Verdana;text-align:center;}
#FOOTER a{color:#333;font:13px/1.5 Verdana;}
#FOOTER span{margin:0 4px;color:#999;font:12px/1.5 Verdana;}
#GLOBALWRAPPER,#WRAPPER{margin:0 auto;}
#GLOBALWRAPPER{overflow:hidden;margin-bottom:7px;}